.gudmecclinic {
  color: var(--color-mediumslateblue);
}

.bng-gi-phng-container {
  position: absolute;
  top: 0;
  left: calc(50% - 252.5px);
  display: inline-block;
  width: 505px;
  height: 26px;
}

.group-child5 {
  position: absolute;
  top: 26px;
  left: calc(50% - 67.5px);
  width: 135px;
  height: 0.7px;
  object-fit: contain;
}

.bng-gi-phng-khm-a-khoa-gu-parent {
  position: absolute;
  top: 238px;
  left: calc(50% - 256px);
  width: 505px;
  height: 26.7px;
}

.heading-18 {
  position: relative;
  white-space: pre-wrap;
}

.heading-1margin8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 167.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl-4) 0 var(--padding-3xl-4);
  box-sizing: border-box;
}

.heading-19 {
  width: 82px;
  position: relative;
  display: flex;
  align-items: center;
}

.heading-1margin9 {
  position: absolute;
  top: 0;
  left: 149.9px;
  width: 83.1px;
  height: 47.2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl-4) 0 var(--padding-3xl-4);
  box-sizing: border-box;
  color: var(--color-darkslateblue-100);
}

.heading-1margin-parent2 {
  position: absolute;
  top: 38.1px;
  left: 0;
  width: 233px;
  height: 76.9px;
}

.standard-collection-234 {
  position: absolute;
  height: 49.65%;
  width: 47.3%;
  top: 0;
  right: 28.54%;
  bottom: 50.35%;
  left: 24.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.group-parent4 {
  position: absolute;
  top: 34px;
  left: 7px;
  width: 233px;
  height: 115px;
}

.footer-component-child {
  position: absolute;
  top: 2px;
  left: 0;
  width: 1579.17px;
  height: 280px;
}

.phng-khm-a {
  margin: 0;
}

.phng-khm-a-container,
.sdt-02353921656 {
  position: absolute;
  height: 11.42%;
  width: 66.04%;
  top: 81.75%;
  left: 17.71%;
  display: inline-block;
}

.sdt-02353921656 {
  height: 98.52%;
  width: 97.49%;
  top: 1.48%;
  left: 2.51%;
}

.icon-cellphone {
  position: absolute;
  height: 65.52%;
  width: 5.53%;
  top: 0;
  right: 94.47%;
  bottom: 34.48%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.line-icon,
.sdt-02353921656-parent {
  position: absolute;
  height: 21.06%;
  width: 55.9%;
  top: 36%;
  right: 44.1%;
  bottom: 42.95%;
  left: 0;
}

.line-icon {
  height: 14.29%;
  width: 80%;
  top: 100%;
  right: 9.63%;
  bottom: -14.29%;
  left: 10.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.lin-h,
.vector-parent {
  position: absolute;
  top: 0;
}

.lin-h {
  height: 72.86%;
  width: 100%;
  left: 0;
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #7480ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vector-parent {
  height: 21.78%;
  width: 18.96%;
  right: 70.93%;
  bottom: 78.22%;
  left: 10.11%;
}

.sdt-2-1900868630 {
  position: absolute;
  height: 100%;
  width: 91.79%;
  top: 0;
  left: 8.21%;
  display: inline-block;
}

.icon-phone {
  position: absolute;
  height: 79.33%;
  width: 5.64%;
  top: 12%;
  right: 94.36%;
  bottom: 8.67%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.sdt-2-1900868630-parent {
  position: absolute;
  height: 15.56%;
  width: 54.78%;
  top: 61.2%;
  right: 45.22%;
  bottom: 23.24%;
  left: 0;
}

.email-contactmsgdkhamatsaig {
  position: absolute;
  height: 97.4%;
  width: 93.54%;
  top: 0;
  left: 6.46%;
  display: inline-block;
}

.icon-envelope-closed {
  position: absolute;
  height: 57.14%;
  width: 3.93%;
  top: 42.86%;
  right: 96.07%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.email-contactmsgdkhamatsaig-parent,
.group-parent {
  position: absolute;
  height: 15.98%;
  width: 100%;
  top: 84.02%;
  right: 0;
  bottom: 0;
  left: 0;
}

.group-parent {
  height: 40.17%;
  width: 24.72%;
  top: 17.08%;
  right: 10.42%;
  bottom: 42.75%;
  left: 64.86%;
  font-size: var(--localhost-roboto-medium-16-size);
}

.heading-1 {
  position: relative;
  white-space: pre-wrap;
}

.heading-1margin {
  position: absolute;
  top: 0;
  left: 0;
  width: 166.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl-4) 0 var(--padding-3xl-4);
  box-sizing: border-box;
}

.heading-11 {
  width: 82px;
  position: relative;
  display: flex;
  align-items: center;
}

.heading-1margin1 {
  position: absolute;
  top: 0;
  left: 149px;
  width: 82.7px;
  height: 64.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl-4) 0 var(--padding-3xl-4);
  box-sizing: border-box;
  color: var(--color-white);
}

.heading-1margin-parent {
  position: absolute;
  top: 52.2px;
  left: 0;
  width: 231.7px;
  height: 76.9px;
}

.standard-collection-23 {
  position: absolute;
  height: 47.17%;
  width: 50.93%;
  top: 0;
  right: 21.45%;
  bottom: 52.83%;
  left: 27.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.group-container {
  position: absolute;
  top: 46px;
  left: 165px;
  width: 231.7px;
  height: 129.1px;
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--color-royalblue);
}

.footer-component {
  position: absolute;
  top: 1860px;
  left: 0;
  width: 1579.17px;
  height: 240px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}

.heading-1margin2,
.heading-1margin3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 167.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl-4) 0 var(--padding-3xl-4);
  box-sizing: border-box;
}

.heading-1margin3 {
  left: 149.9px;
  width: 83.1px;
  height: 47.2px;
  color: #64328a;
}

.heading-1margin-group {
  position: absolute;
  top: 38.1px;
  left: 0;
  width: 233px;
  height: 76.9px;
}

.standard-collection-231 {
  position: absolute;
  height: 49.65%;
  width: 47.17%;
  top: 0;
  right: 28.76%;
  bottom: 50.35%;
  left: 24.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.group-div {
  position: absolute;
  top: 34px;
  left: 7px;
  width: 233px;
  height: 115px;
}

.link-chuyn,
.link-dch,
.link-gii,
.link-i,
.link-thnh {
  position: absolute;
  top: 9.6px;
  left: 190.4px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82.2px;
  height: 24px;
  opacity: 0.7;
  cursor: pointer;

}

.link-chuyn,
.link-dch,
.link-i,
.link-thnh {
  left: 321.8px;
  width: 111.5px;
}

.link-dch,
.link-i,
.link-thnh {
  left: 463.5px;
  width: 120px;
}

.link-dch,
.link-thnh {
  left: 637.6px;
  width: 64px;
}

.link-thnh {
  left: 769.7px;
  width: 91.9px;
}

.link-tin {
  top: 9.6px;
  left: 931.2px;
  width: 61px;
}

.link-lin,
.link-me,
.link-tin,
.t-lch-ngay {
  position: absolute;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  opacity: 0.7;
  cursor: pointer;

}

.link-lin {
  top: 9.6px;
  left: 1078.8px;
  font-size: var(--localhost-roboto-medium-1588-size);
  width: 57.7px;
}

.t-lch-ngay {
  top: 9px;
  left: 1198px;
  width: 135px;

}

.link-me {
  top: 10px;
  left: 1369px;
  width: 42px;
}

.divcontainer-child {
  position: absolute;
  top: 6px;
  background-color: var(--darkprimary);
  width: 1579.17px;
  height: 50px;
}


.symbol {
  position: absolute;
  top: -10px;
  left: 96px;
  font-size: 24px;
  line-height: 16px;
  font-family: var(--font-font-awesome-5-free);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 55px;
  opacity: 0.7;
  cursor: pointer;
}

.divcontainer {
  position: absolute;
  top: 143.2px;
  left: 0;
  background-color: var(--darkprimary);
  width: 1579.17;
  height: 57px;
  text-align: center;
  font-size: var(--localhost-roboto-medium-16-size);
  color: var(--color-white);
  font-family: var(--localhost-roboto-medium-1588);
}

.header-component {
  position: absolute;
  top: 0;
  background: linear-gradient(90deg, #fff, #fa8fc9 25%, #a52c82 50%, #2b4b9b);
  border: 1px solid var(--gradient);
  box-sizing: border-box;
  width: 1579.17px;
  height: 200.2px;
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--color-royalblue);
  font-family: var(--font-inter);
}

.bng-gi-child {
  position: absolute;
  top: 294px;
  left: -2px;
  width: 1436px;
  height: 317px;
  overflow: hidden;
}

.screenshot-2024-05-10-at-2215 {
  position: absolute;
  top: 327px;
  left: 0;
  width: 1579.17px;
  height: 391px;
  object-fit: cover;
}

.h-thng-bnh {
  text-decoration: underline;
}

.h-thng-bnh-vin-a-khoa {
  color: inherit;
}

.bng-cch-bm {
  color: var(--color-black);
}

.gudmec-bng-cch-bm-vo-cc {
  font-weight: 500;
}

.khch-hng-c-th-tham-kho-b {
  margin: 0;
}

.bng-gi-tham-kho-bnh-vin2 {
  font-family: var(--font-inter);
}

.bng-gi-tham-kho-bnh-vin {
  margin: 0;
  font-size: inherit;
  padding-left: var(--padding-8xl);
}

.xin-lu2 {
  color: var(--color-tomato);
}

.bng-gi-c {
  font-weight: 500;
  font-family: var(--font-inter);
}

.chi-ph-dch-v-ca-khch-hng {
  margin-bottom: 0;
}

.khch-hng-c-container {
  position: absolute;
  top: 778px;
  left: 182px;
  text-align: left;
  display: inline-block;
  width: 1231px;
  height: 1079px;
}

.screenshot-2024-05-10-at-2230,
.screenshot-2024-05-10-at-2231 {
  position: absolute;
  top: 863px;
  left: 794px;
  width: 482px;
  height: 742px;
  object-fit: cover;
}

.screenshot-2024-05-10-at-2230 {
  left: 132px;
  width: 570px;
  height: 727px;
}

.bng-gi {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2134px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}