<div th:fragment="footer" class="footer-component">
  <div class="container container-list-all-doctor">
    <div class="text-DNBS">ĐỘI NGŨ BÁC SĨ</div>
  </div>
  <div class="list-bs" id="list-bs">
    <div class="container container-listAll-doctor">
      <div class="row">
        <div class="row-list-doctor">
          <div class="card-bs col-lg-3 text-center">
            <div class="card" style="width: 75%;">
              <img
                src="https://s3-alpha-sig.figma.com/img/43ca/3e62/74e221711a37cc2879895baf3cf6cdae?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=I9cWjIb5IBrCiOIo1SO8z7A68fNT1XVGf-6n11~ieftLNw3FDq2MfuX~Phtjn3OOop4dXqG21JF0Eh89fGtnlt9QpTF7UM43BhLZecp1cXbV1J8fFVvlZlOkjQmbUVaSmIR8nTlEFdssXWm6lwj5hn5PJV2QZe6KxgIIvdy-BG9kSf6fhBomPFj~UkjjKcdnOh~zCdVQ9KpNQ7E4EEuxiyEMknKy59ItseDlKv4AwDCSHhZaCyH0EldN-0bkasoOomRu5CoO8q6Hsc~ZgbvxRRVkfAmOLbaz9ppceCjBejEYCg9B6qwsRd1xDyciKze~xG-fnxLNEE-KyhJwaVPyQw__"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"></p>TTƯT.PGS.TS TRIỆU TRIỀU DƯƠNG</p>
              </div>
            </div>
          </div>
          <div class="card-bs col-lg-3 text-center">
            <div class="card" style="width: 75%;">
              <img
                src="https://s3-alpha-sig.figma.com/img/43ca/3e62/74e221711a37cc2879895baf3cf6cdae?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=I9cWjIb5IBrCiOIo1SO8z7A68fNT1XVGf-6n11~ieftLNw3FDq2MfuX~Phtjn3OOop4dXqG21JF0Eh89fGtnlt9QpTF7UM43BhLZecp1cXbV1J8fFVvlZlOkjQmbUVaSmIR8nTlEFdssXWm6lwj5hn5PJV2QZe6KxgIIvdy-BG9kSf6fhBomPFj~UkjjKcdnOh~zCdVQ9KpNQ7E4EEuxiyEMknKy59ItseDlKv4AwDCSHhZaCyH0EldN-0bkasoOomRu5CoO8q6Hsc~ZgbvxRRVkfAmOLbaz9ppceCjBejEYCg9B6qwsRd1xDyciKze~xG-fnxLNEE-KyhJwaVPyQw__"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"></p>TTƯT.PGS.TS TRIỆU TRIỀU DƯƠNG</p>
              </div>
            </div>
          </div>
          <div class="card-bs col-lg-3 text-center">
            <div class="card" style="width: 75%;">
              <img
                src="https://s3-alpha-sig.figma.com/img/43ca/3e62/74e221711a37cc2879895baf3cf6cdae?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=I9cWjIb5IBrCiOIo1SO8z7A68fNT1XVGf-6n11~ieftLNw3FDq2MfuX~Phtjn3OOop4dXqG21JF0Eh89fGtnlt9QpTF7UM43BhLZecp1cXbV1J8fFVvlZlOkjQmbUVaSmIR8nTlEFdssXWm6lwj5hn5PJV2QZe6KxgIIvdy-BG9kSf6fhBomPFj~UkjjKcdnOh~zCdVQ9KpNQ7E4EEuxiyEMknKy59ItseDlKv4AwDCSHhZaCyH0EldN-0bkasoOomRu5CoO8q6Hsc~ZgbvxRRVkfAmOLbaz9ppceCjBejEYCg9B6qwsRd1xDyciKze~xG-fnxLNEE-KyhJwaVPyQw__"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"></p>TTƯT.PGS.TS TRIỆU TRIỀU DƯƠNG</p>
              </div>
            </div>
          </div>
          <div class="card-bs col-lg-3 text-center">
            <div class="card" style="width: 75%;">
              <img
                src="https://s3-alpha-sig.figma.com/img/43ca/3e62/74e221711a37cc2879895baf3cf6cdae?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=I9cWjIb5IBrCiOIo1SO8z7A68fNT1XVGf-6n11~ieftLNw3FDq2MfuX~Phtjn3OOop4dXqG21JF0Eh89fGtnlt9QpTF7UM43BhLZecp1cXbV1J8fFVvlZlOkjQmbUVaSmIR8nTlEFdssXWm6lwj5hn5PJV2QZe6KxgIIvdy-BG9kSf6fhBomPFj~UkjjKcdnOh~zCdVQ9KpNQ7E4EEuxiyEMknKy59ItseDlKv4AwDCSHhZaCyH0EldN-0bkasoOomRu5CoO8q6Hsc~ZgbvxRRVkfAmOLbaz9ppceCjBejEYCg9B6qwsRd1xDyciKze~xG-fnxLNEE-KyhJwaVPyQw__"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text"></p>TTƯT.PGS.TS TRIỆU TRIỀU DƯƠNG</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-footer">
        <div class="img-logo-gud">
          <img id="img-logo-gud" src="/images/gudmec.png">
        </div>
    </div>
  </div>
</div>