<div th:fragment="footer" class="footer-component">
  <div class="container container-list-all-doctor">
    <div class="text-DNBS">ĐỘI NGŨ BÁC SĨ</div>
  </div>
  <div class="list-bs" id="list-bs">
    <div class="container container-listAll-doctor">
      <div class="row">
        <div class="row-list-doctor">
          <div class="card-bs col-lg-3 text-center">
            <div class="card" style="width: 75%;">
              <img
                src="https://s3-alpha-sig.figma.com/img/43ca/3e62/74e221711a37cc2879895baf3cf6cdae?Expires=1718582400&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=I9cWjIb5IBrCiOIo1SO8z7A68fNT1XVGf-6n11~ieftLNw3FDq2MfuX~Phtjn3OOop4dXqG21JF0Eh89fGtnlt9QpTF7UM43BhLZecp1cXbV1J8fFVvlZlOkjQmbUVaSmIR8nTlEFdssXWm6lwj5hn5PJV2QZe6KxgIIvdy-BG9kSf6fhBomPFj~UkjjKcdnOh~zCdVQ9KpNQ7E4EEuxiyEMknKy59ItseDlKv4AwDCSHhZaCyH0EldN-0bkasoOomRu5CoO8q6Hsc~ZgbvxRRVkfAmOLbaz9ppceCjBejEYCg9B6qwsRd1xDyciKze~xG-fnxLNEE-KyhJwaVPyQw__"
                class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">TTƯT.PGS.TS TRIỆU TRIỀU DƯƠNG</p>
              </div>
            </div>
          </div>
          <div class="card-bs col-lg-3 text-center">
            <div class="card" style="width: 75%;">
              <img th:src="@{/images/nglv.jpg}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">GS.TS.BS NGUYỄN LÂN VIỆT</p>
              </div>
            </div>
          </div>
          <div class="card-bs col-lg-3 text-center">
            <div class="card" style="width: 75%;">
              <img th:src="@{/images/namAnh.jpg}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">TS.BS TĂNG HÀ NAM ANH</p>
              </div>
            </div>
          </div>
          <div class="card-bs col-lg-3 text-center">
            <div class="card" style="width: 75%;">
              <img th:src="@{/images/tuyetLan.jpg}" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text">PGS.TS.BS LÊ THỊ TUYẾT LAN</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-footer">
      <div class="logo-and-contact">
        <div class="img-logo-gud">
          <img id="img-logo-gud" th:src="@{/images/gudmec-footer.png}">
        </div>
        <div class="contact-us">
          <div class="contact-title">
            <span class="contact-title-text">Liên hệ</span>
          </div>
          <div class="contact-phone1">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <span class="contact-phone1-text">SDT 1: 02353921656</span>
          </div>
          <div class="contact-phone2">
            <i class="fa-solid fa-phone"></i>
            <span class="contact-phone2-text">SDT 2: 1900868630</span>
          </div>
          <div class="contact-email">
            <i class="fa-solid fa-envelope"></i>
            <span class="contact-email-text">Email: contact.msgdkha@matsaigon.com</span>
          </div>
        </div>
      </div>
      <div class="read-text">
        ©Phòng Khám Đa Khoa GudMec.
        Tất cả những thông tin trên chỉ mang tính chất tham khảo, bệnh nhân phải đến trực tiếp bệnh viện khám để bác sĩ
        chẩn đoán và điều trị.</div>
    </div>
  </div>
</div>