<div th:fragment="header">
   <div class="header-nav">
    <div class="img-vs-content">
      <img class="img-absolute"
        src="https://s3-alpha-sig.figma.com/img/b9b6/751e/10e512d44b0123f19fc4db5e2aeb85ca?Expires=1710720000&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=K0Cm65n77DIEkuFC5F3Qgu5Gav~-A9kB0Um5sS5c3XRnDWg~O9debkO-ujN1J4SZfcCEi1afsmID-NLKd2SEI6HAO7yCkHFNJbNKemVeea-Fy2KBxYjzAedcsvQfR3E8K6Jj7OINZtIWhxw-CdkliXVge2k0lOR6ENLSv5WcRBLTgrbUVxwCZnRCDdatYSDndWzeCWhQqSyeBRlyudfGzmzhSlLSZrfF2BdyQn11zhAnaqPmZuxLLM3r16ieCJBTIiUmF4C6wJnHNCgeUty4enpZWV9vDc4uHrn1hIU9wl6JZte9gcs7u6DWRkF9CyDJxu5-IjbjBMkY8TOcovFhxA__"
        alt="">
      <div class="content">
        <span>PHÒNG KHÁM ĐA KHOA
          TRÂM ANH
        </span>
      </div>
    </div>
    <img class="img-logo"
      src="https://s3-alpha-sig.figma.com/img/2376/ff68/c53f06bb7bceb6fef55ab65401df4562?Expires=1710115200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=laHkjUT4KfDGidZsx801nPgP18Y5OMFEtVa9l0Icpo9JGGg7U929Wq-67qnH2z9s3yX82Pum5bTNhOntGIn3Y1pUohNwHgrUodHxCX-4ze9tAjavNBFxJ~~QJ7p8256YloYA6rBD9qfRqTuLgKBAUVlYa8WpmxeJnkNZQyblIp4E8FGjjPkXo8i0ZKmy5heuGx7mRB-WVMQq6wKcwy-8HikhbpOxA71yhm4MCf4rUBQC0uF58HL5HGjshebg2X0SmAtDgLUtCrxVtpBhvcoYG~u7tx~0rhCDccCjzb1YMNDhLtvLvTF4p-Cj5KlQiixwA9JoNnXA6JoCM6riJnTepg__"
      alt="">
  </div> 
  <div class="group-div">
    <div class="heading-1margin-group">
      <div class="heading-1margin2">
        <b class="heading-1"> GudMec</b>
      </div>
      <div class="heading-1margin3">
        <b class="heading-11">Clinic</b>
      </div>
    </div>
    <img
      class="standard-collection-231"
      alt=""
      th:src="@{/src/main/resources/static/images/public/standard-collection-23@2x.png}"

    />
  </div>
</div>
<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="/src/main/resources/static/css/edit/global.css" />
  <link rel="stylesheet" href="/src/main/resources/static/css/edit/index.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Font Awesome 5 Free:wght@400&display=swap" />
</head>

<body>
<div class="header-component">
  <div class="group-div">
    <div class="heading-1margin-group">
      <div class="heading-1margin2">
        <b class="heading-1"> GudMec</b>
      </div>
      <div class="heading-1margin3">
        <b class="heading-11">Clinic</b>
      </div>
    </div>
    <img class="standard-collection-231" alt=""
      src="/src/main/resources/static/images/public/standard-collection-23@2x.png" />
  </div>
  <div class="divcontainer">
    <div class="link-gii">GIỚI THIỆU</div>
    <div class="link-chuyn">CHUYÊN KHOA</div>
    <div class="link-i">ĐỘI NGŨ BÁC SĨ</div>
    <div class="link-dch">DỊCH VỤ</div>
    <div class="link-thnh">THÀNH TỰU</div>
    <div class="link-tin">TIN TỨC</div>
    <div class="link-lin">LIÊN HỆ</div>
    <a class="link-me" th:text="${user.fullname}"></a>
    <div class="divcontainer-child"></div>
    <div class="t-lch-ngay">ĐẶT LỊCH NGAY</div>
    <div class="divline"></div>
    <div class="symbol" id="symbolText"></div>
  </div>
</div>
</body>
</html> -->