<div th:fragment="nav">
    <nav>
        <div class="nav-link">
            <div class="container container-custom">
                <a class="link" th:href="@{/}">
                    <i class="fa-solid fa-house"></i>
                </a>
                <a class="link" th:href="@{/greeting}">GIỚI THIỆU</a>
                <a class="link" href="#">CHUYÊN KHOA</a>
                <a class="link" href="#">ĐỘI NGŨ BÁC SĨ</a>
                <a class="link" href="#">DỊCH VỤ</a>
                <a class="link" href="#">THÀNH TỰU</a>
                <a class="link" href="#">TIN TỨC</a>
                <a class="link" href="#">LIÊN HỆ</a>
                <a class="link" th:href="@{/register}">ĐĂNG NHẬP</a>
                <a class="link" th:href="#" th:text="${username}"></a>
                <div class="line"></div>
            </div>
        </div>
    </nav>
    <div class="customer">
        <span class="content-TC">Trang chủ >></span>
        <span class="content-KH">Dành cho khách hàng</span>
    </div>
</div>