<div th:fragment="navLogged">
    <nav>
        <div class="nav-link">
            <div class="container container-custom navLogged">
                <a class="link" th:href="@{/}">
                    <i class="fa-solid fa-house"></i>
                </a>
                <a class="link" th:href="@{/greeting}">GIỚI THIỆU</a>
                <a class="link" href="#">CHUYÊN KHOA</a>
                <div class="link team-of-doctors">ĐỘI NGŨ BÁC SĨ</div>
                <a class="link" href="#">DỊCH VỤ</a>
                <a class="link" href="#">THÀNH TỰU</a>
                <a class="link" href="#">TIN TỨC</a>
                <a class="link" href="#">LIÊN HỆ</a>
                <div id="link-popup" class="link">ĐẶT LỊCH NGAY</div>
                <a class="link" th:href="@{/auth/register}"  th:object="${user}" th:text="${user.userName}"></a>
                <!-- <li class="link dropdown">
                    <a class="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"  th:object="${user}" th:text="${user.userName}"></a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Hồ sơ cá nhân</a></li>
                      <li><a class="dropdown-item" href="#">Another action</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="/logout">Đăng xuất</a></li>
                    </ul>
                </li> -->
                <div class="line"></div>
            </div>
        </div>
    </nav>
    <div class="customer">
        <span class="content-TC">Trang chủ >></span>
        <span class="content-KH">Dành cho khách hàng</span>
    </div>
</div>