<div class="content" th:fragment="thanhtoanbaohiem">
  <div class="main-content">
    <div class="container">
      <div class="row">
        <div class="page_detail ">
          <div class="col-xs-12">
            <div class="text-center">
              <h1 class="div_head">
                Hướng dẫn thanh toán bảo hiểm </h1>
            </div>
            <div class="content">
              <p><span style="font-weight: 400;">Bảo hiểm là hoạt động qua đó một cá nhân có quyền được hưởng trợ cấp
                  bảo hiểm
                  nhờ vào một khoản đóng góp cho mình hoặc cho người thứ ba trong trường hợp xảy ra rủi ro. Khoảng trợ
                  cấp này
                  do một tổ chức chi trả. Tổ chức này có trách nhiệm đối với toàn bộ các rủi ro và đền bù thiệt hại
                  theo các
                  phương pháp của thống kê.</span></p>
              <p><em><span style="font-weight: 400;">Có 2 hình thức bảo hiểm:</span></em></p>
              <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;"><strong>Bảo hiểm bắt buộc:</strong> là
                    loại bảo
                    hiểm do pháp luật quy định về điều kiện bảo hiểm, mức phí bảo hiểm, số tiền bảo hiểm tối thiểu mà
                    tổ chức,
                    cá nhân tham gia bảo hiểm và doanh nghiệp bảo hiểm có nghĩa vụ thực hiện.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;"><strong>Bảo hiểm tự nguyện:</strong> là
                    loại
                    hình bảo hiểm mà người tham gia được quyền lựa chọn công ty bảo hiểm, sản phẩm bảo hiểm, mức phí
                    và quyền
                    lợi bảo hiểm.</span></li>
              </ul>
              <h2><span style="color: #102e9e;"><strong>Các hình thức bồi thường</strong></span></h2>
              <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Chi trả trực tiếp qua trung gian (bệnh
                    viện,
                    phòng khám): Là hình thức các công ty bảo hiểm sức khỏe tư nhân có ký kết thanh toán trực tiếp một
                    phần
                    hoặc toàn bộ chi phí y tế cho khách hàng khám và điều trị tại bệnh viện, phòng khám.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Chi trả trực tiếp cho khách hàng: Là
                    hình thức
                    khách hàng tự thanh toán các <a href="https://tamanhhospital.vn/danh-muc-dich-vu/dich-vu-y-te/"
                      target="_blank" rel="noopener noreferrer" data-schema-attribute="">chi phí dịch vụ y tế</a> và
                    tập hợp
                    hồ sơ gửi công ty bảo hiểm để yêu cầu bồi thường quyền lợi.</span></li>
              </ul>
              <h2><span style="color: #102e9e;"><strong>Thông tin cung cấp</strong></span></h2>
              <p><span style="font-weight: 400;">Người bệnh cần cung cấp các thông tin sau để được thanh toán bảo
                  hiểm:</span>
              </p>
              <h3><strong>1. Qua điện thoại</strong></h3>
              <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Thông tin khách hàng: Họ &amp; Tên, Ngày
                    tháng
                    năm sinh (D.O.B), số thẻ bảo hiểm…</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Chẩn đoán bệnh, kết quả các xét nghiệm,
                    cận lâm
                    sàng (bình thường &amp; bất thường)</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Chi phí dịch vụ, chi phí thuốc</span>
                </li>
              </ul>
              <h3><strong>2. Qua e-mail</strong></h3>
              <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Thẻ bảo hiểm &amp; giấy tờ tùy
                    thân</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Bản scan: kết quả xét nghiệm &amp; cận
                    lâm sàng;
                    toa thuốc, bảng kê chi phí&nbsp;</span></li>
              </ul>
              <p><span style="font-weight: 400;"><span style="text-decoration: underline; color: #ff0000;"><strong>*Ghi
                      chú:</strong></span> Những lưu ý để công ty bảo hiểm bảo lãnh nhanh chóng</span></p>
              <h3 class="context"><strong>3. Hồ sơ gửi công ty bảo hiểm</strong></h3>
              <ul>
                <li>BH</li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Thẻ bảo hiểm &amp; CMND/CCCD/Hộ
                    chiếu/Giấy khai
                    sinh (trẻ em dưới 16 tuổi)</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Biểu mẫu “Yêu cầu bồi thường”</span>
                </li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Tổng kết bệnh án</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Toa thuốc, chỉ định &amp; kết quả xét
                    nghiệm,
                    cận lâm sàng</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Bảng kê ghi nhận chi phí bảo hiểm, bảng
                    kê chi
                    phí thuốc</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Hóa đơn</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Bảng tường trình tai nạn (nếu có)</span>
                </li>
              </ul>
              <h2><span style="color: #102e9e;"><strong>Quy trình bảo lãnh</strong></span></h2>
              <h3><strong>Bước 1: Tiếp nhận</strong></h3>
              <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Khách hàng có thẻ bảo hiểm và yêu cầu
                    được bảo
                    hiểm thanh toán trực tiếp.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Nhân viên yêu cầu khách hàng xuất trình
                    thẻ bảo
                    hiểm &amp; CMND/CCCD/Hộ chiếu/Giấy khai sinh.</span></li>
              </ul>
              <h3><strong>Bước 2: Kiểm tra thông tin</strong></h3>
              <p><span style="font-weight: 400;">Dựa vào danh sách các công ty có hợp đồng chi trả trực tiếp:</span>
              </p>
              <ul>
                <li><span style="font-weight: 400;">Có: Scan lại thẻ bảo hiểm &amp; giấy tờ tùy thân, cho khách hàng
                    ký giấy
                    yêu cầu bồi thường.</span></li>
                <li><span style="font-weight: 400;">Không: Thông báo khách hàng tự bảo lãnh và cung cấp đầy đủ hồ sơ
                    cho khách
                    hàng.</span></li>
              </ul>
              <h3><strong>Bước 3: Tiến hành thăm khám</strong></h3>
              <ul>
                <li><span style="font-weight: 400;">Tiến hành <a
                      href="https://tamanhhospital.vn/danh-cho-khach-hang/dat-lich-kham/" target="_blank"
                      rel="noopener noreferrer" data-schema-attribute="">đăng ký khám bệnh cho khách hàng</a>. Khách
                    hàng phải
                    tạm ứng/thanh toán tất cả các chi phí khám bệnh, xét nghiệm &amp; cận lâm sàng trước khi thực hiện
                    dịch
                    vụ.</span></li>
              </ul>
              <h3><strong>Bước 4: Liên hệ bảo lãnh</strong></h3>
              <ul>
                <li><span style="font-weight: 400;">Sau khi khách hàng kết thúc thăm khám và có toa thuốc (hoặc
                    không), liên
                    hệ công ty bảo hiểm yêu cầu bồi thường.&nbsp;</span></li>
              </ul>
              <h3><strong>Bước 5: Hoàn tất bảo lãnh</strong></h3>
              <ul>
                <li><span style="font-weight: 400;">Thông báo cho khách hàng chi phí được bảo lãnh và chi phí bị từ
                    chối (nếu
                    có); cho khách hàng ký đầy đủ chứng từ và hoàn tiền cho khách hàng.</span></li>
                <li><span style="font-weight: 400;">Tập hợp hồ sơ gửi công ty bảo hiểm thu hồi công nợ.</span></li>
              </ul>
              <p><b><span style="text-decoration: underline; color: #ff0000;">Lưu ý:</span> Những trường hợp sau đây
                  không
                  được thanh toán bảo hiểm</b></p>
              <ul>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Vi phạm nghiêm trọng pháp luật, nội quy,
                    quy
                    định của chính quyền địa phương hoặc các tổ chức xã hội, vi phạm nghiêm trọng luật lệ an toàn giao
                    thông.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Sử dụng hoặc bị ảnh hưởng của rượu bia,
                    ma tuý
                    hay các chất kích thích tương tự và việc ảnh hưởng này là nguyên nhân trực tiếp gây ra tai
                    nạn.</span>
                </li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Điều trị y tế hay sử dụng các loại dược
                    phẩm,
                    thuốc mà không theo sự hướng dẫn của bác sĩ.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Khám sức khỏe định kỳ, khám và xét
                    nghiệm phụ
                    khoa, tiêm ngừa, dùng thuốc có tính chất phòng ngừa.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Nằm viện cho mục đích kiểm tra sức khỏe
                    hoặc
                    giám định y khoa mà không liên quan đến việc điều trị bệnh.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Nằm viện hoặc phẫu thuật các bệnh bẩm
                    sinh,
                    những thương tật và chỉ định phẫu thuật có từ trước ngày bắt đầu được bảo hiểm.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Nằm viện hoặc phẫu thuật theo yêu cầu
                    không liên
                    quan đến việc điều trị và phẫu thuật bình thường do ngành y tế quy định.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Điều trị thẩm mỹ, tạo hình thẩm mỹ,
                    chỉnh hình,
                    phục hồi chức năng, làm chân tay giả, mắt và răng.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Phẫu thuật phục hồi thị giác, kiểm tra
                    thị lực
                    bình thường.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Khám thai sản định kỳ; các biện pháp kế
                    hoạch
                    hóa, chữa trị vô sinh.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Các sản phẩm vitamin, thuốc bổ, thực
                    phẩm chức
                    năng.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Chi phí suất ăn, phòng bao giường, phòng
                    VIP,
                    chi phí yêu cầu của người bệnh, người nhà…</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Các chi phí khám, xét nghiệm liên quan
                    đến tầm
                    soát bệnh.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Các chi phí khám không có chẩn đoán bệnh
                    và
                    hướng điều trị bệnh.</span></li>
                <li style="font-weight: 400;"><span style="font-weight: 400;">Bệnh thần kinh, tâm lý, bệnh giang mai,
                    bệnh
                    lậu, AIDS và các bệnh lây nhiễm qua đường tình dục, lao và bệnh nghề nghiệp.</span></li>
              </ul>
            </div>
          </div>
          <img class="screenshot-2024-05-12-at-0930" alt="" th:src="@{/public/screenshot-20240512-at-0930-1@2x.png}" />
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </div>
</div>