<div class="content" th:fragment="dieutrinoitru">
  <div class="main-contentdiv_over">
    <div class="container">
      <div class="row">
        <div class="page_detail ">
          <div class="col-xs-12">
            <div class="text-center">
              <h1 class="div_head text-center cl_head text-uppercase font_hel sz_24 mb_35 pb_15">
                Hướng dẫn khách hàng điều trị nội trú </h1>
            </div>
            <div class="content">
              <p style="text-align: justify;"><em>Sức khỏe là vốn quý nhất của con người, chúng tôi luôn mong muốn
                  dành những điều tốt đẹp nhất cho quý khách. Dưới đây là một số thông tin <strong>hướng dẫn khách
                    hàng điều trị nội trú</strong> cần thiết dành cho khách hàng trong trường hợp khách hàng cần điều
                  trị nội trú. Quý khách vui lòng đọc kỹ các hướng dẫn này để được phục vụ tốt nhất.</em></p>
              <h2><span style="color: #102e9e;"><strong>Đăng ký nhập viện điều trị nội trú<br>
                  </strong></span></h2>
              <p style="text-align: justify;">Khi có chỉ định nhập viện điều trị nội trú, khách hàng sẽ được tư vấn
                chi phí điều trị, hướng dẫn lựa chọn phòng nội trú và nộp tạm ứng để nhập viện. Chi phí giường bệnh
                được tính từ thời điểm Quý khách nhận viện cho tới khi trả phòng.</p>
              <h2><span style="color: #102e9e;"><strong>Thủ tục nhập viện</strong></span></h2>
              <p style="text-align: justify;">Để hoàn tất thủ tục hành chính, quý khách lưu ý cần mang theo một số
                giấy tờ cần thiết bao gồm:</p>
              <ul>
                <li style="text-align: justify;">Chứng minh thư nhân dân/Căn cước công dân/Hộ chiếu, Giấy khai sinh
                  (nếu là trẻ em).</li>
                <li style="text-align: justify;">Thẻ Bảo hiểm tư nhân (bắt buộc trong vòng 24h kể từ giờ nhập viện –
                  nếu có).</li>
                <li style="text-align: justify;">Thẻ Bảo hiểm y tế nhà nước (trong trường hợp quý khách muốn làm giấy
                  nghỉ hưởng bảo hiểm xã hội).</li>
                <li style="text-align: justify;">Sổ hộ khẩu (photo) của sản phụ (trong trường hợp sinh bé).</li>
                <li style="text-align: justify;">Các loại thẻ ưu đãi khác (nếu có).</li>
                <li style="text-align: justify;">Hồ sơ y tế khác theo yêu cầu của bác sĩ (xét nghiệm, kết quả chẩn
                  đoán hình ảnh, đơn thuốc…).</li>
              </ul>
              <p style="text-align: justify;">Sau khi Quý Khách đồng ý nhập viện, Quý Khách vui lòng hoàn tất tạm ứng
                viện phí trước khi nhập viện tại Quầy Thu ngân.</p>
              <p style="text-align: justify;"><span style="color: #ff0000;"><strong>Lưu ý:</strong></span> Tạm ứng có
                thể khác với chi phí thực tế, phụ thuộc vào tình trạng sức khỏe, phương pháp điều trị, thuốc và các
                vật tư y tế được sử dụng trong quá trình lưu viện của Quý Khách. Nếu quý khách đang điều trị ngoại trú
                thì cần thanh toán hết chi phí này trước khi làm thủ tục nhập viện.</p>
              <h2 style="text-align: justify;"><span style="color: #102e9e;"><strong>Thời gian Nhập
                    viện</strong></span></h2>
              <p style="text-align: justify;">Thời gian tiếp nhận 24/7 theo chỉ định của Bác sĩ. Thời gian nhận phòng
                và trả phòng tính từ mốc thời gian 12:00pm. Ngoài thời gian trên sẽ tính theo phụ thu thực tế thời
                gian khách lưu viện cụ thể. Nếu cần hỗ trợ hoặc hướng dẫn, Quý khách có thể đến Quầy Lễ tân tại sảnh
                chính để được giúp đỡ.</p>
              <h2 style="text-align: justify;"><span style="color: #102e9e;"><strong>Thời gian lưu
                    viện</strong></span></h2>
              <p style="text-align: justify;">Trong suốt thời gian lưu viện điều trị nội trú, Quý khách hàng sẽ được
                mang vòng định danh trên tay với các thông số cơ bản: Họ và tên; Ngày sinh; Mã Bệnh nhân. Trước khi
                thực hiện bất cứ thăm khám, can thiệp y tế, phẫu thuật, thủ thuật nào, Quý khách sẽ được định danh
                bằng ít nhất 2 thông số:</p>
              <ol>
                <li style="text-align: justify;"><em>Họ tên đầy đủ</em></li>
                <li style="text-align: justify;"><em>Ngày tháng năm sinh để tránh tối đa các sai sót có thể xảy
                    ra.</em></li>
              </ol>
              <p style="text-align: justify;">Với mong muốn Quý khách có thời gian lưu viện thoải mái và dễ chịu nhất,
                đội ngũ bác sĩ và điều dưỡng của bệnh viện sẽ luôn đồng hành để chăm sóc, luôn sẵn sàng hỗ trợ Quý
                khách trong bất cứ tình huống nào. Quý Khách có thể bấm nút “Chuông báo” được lắp đặt sẵn tại đầu
                giường để đàm thoại 2 chiều với điều dưỡng. Khi cần giúp đỡ trong phòng vệ sinh, Quý Khách giật dây
                “Chuông báo” để gọi điều dưỡng. Các vật dụng được cung cấp miễn phí trong quá trình nằm viện: Đồng
                phục người bệnh theo quy định của bệnh viện. Drap trải giường sẽ được thay mỗi ngày. Toàn bộ vật
                dụng trong phòng: khăn, sữa tắm, dầu gội, kem đánh răng, dép đi trong phòng, móc áo,… được trang bị
                sẵn trong suốt thời gian lưu trú. Nước uống được cung cấp thường xuyên. Nếu cần thêm nước nóng, vui
                lòng gọi Nhân viên dịch vụ phòng/Điều dưỡng để được hỗ trợ.</p>
              <p style="text-align: justify;">Bên cạnh đó để việc điều trị trong thời gian lưu viện được đảm bảo an
                toàn và hiệu quả, Quý khách hàng sử dụng <strong>dịch vụ điều trị nội trú</strong> cần tuân thủ nội
                quy khi lưu viện:</p>
              <ul>
                <li style="text-align: justify;">Cần chấp hành nghiêm y lệnh điều trị, chăm sóc của bác sĩ điều trị và
                  nhân viên y tế. Khi có điều gì chưa rõ về phương pháp điều trị và chăm sóc đề nghị gặp bác sĩ điều
                  trị và nhân viên y tế để được giải đáp.</li>
                <li style="text-align: justify;">Luôn có mặt tại buồng bệnh trong thời gian điều trị nội trú, khi ra
                  khỏi khoa phải được sự đồng ý của bác sĩ điều trị và nhân viên y tế. Nếu người bệnh ra khỏi bệnh
                  viện phải ký vào hồ sơ bệnh án.</li>
                <li style="text-align: justify;">Chỉ sử dụng chuông báo khẩn cấp (nếu có) khi người bệnh có diễn biến
                  bất thường hoặc cần sự giúp đỡ từ nhân viên y tế.</li>
                <li style="text-align: justify;">Giữ gìn các tài sản được mượn và các phương tiện có trong buồng bệnh,
                  nếu làm mất, vỡ, hỏng phải bồi thường theo quy định của bệnh viện. Khi có phương tiện hỏng đề nghị
                  báo ngay cho nhân viên y tế được biết.</li>
                <li style="text-align: justify;">Sử dụng điện nước tiết kiệm, trước khi ra khỏi phòng, đề nghị tắt tất
                  cả các thiết bị đang sử dụng (điện, nước v.v..). Không mang vật dụng đun nấu, giặt giũ, các vật liệu
                  dễ cháy nổ vào sử dụng trong buồng bệnh.</li>
                <li style="text-align: justify;">Giữ gìn vệ sinh chung (buồng bệnh, hành lang, nhà vệ sinh v.v). Giữ
                  trật tự, yên lặng, tuyệt đối không hút thuốc trong buồng bệnh.</li>
                <li style="text-align: justify;">Người nhà đến thăm người bệnh không được ngồi hoặc nằm trên giường
                  bệnh.</li>
                <li style="text-align: justify;">Để đồ đạc, đồ dùng cá nhân đúng vị trí (trong ngăn tủ) theo quy định.
                  Bệnh viện đã có phương tiện cung cấp nước uống thuốc, tủ đựng đồ cho người bệnh, đề nghị hạn chế
                  mang các vật dụng không cần thiết vào buồng bệnh.</li>
                <li style="text-align: justify;">Người bệnh có trách nhiệm thanh toán viện phí theo đúng quy định của
                  nhà nước và thanh toán các dịch vụ theo quy định của bệnh viện.</li>
                <li style="text-align: justify;">Khi vào thăm người bệnh nếu đưa trẻ em dưới 12 tuổi phải có người lớn
                  đi kèm, không vào buồng bệnh quá 3 người.</li>
              </ul>
              <p style="text-align: justify;">Bệnh nhân nội trú tại <a href="https://tamanhhospital.vn/" target="_blank"
                  rel="noopener noreferrer" data-schema-attribute="">đây</a> sẽ
                được các bác sĩ và chuyên gia dinh dưỡng theo dõi, tư vấn chăm sóc sức khỏe, đảm bảo cung cấp một chế
                độ ăn uống hợp lý, bao gồm 3 bữa chính (sáng, trưa và tối) và 1 bữa phụ vào lúc xế chiều.</p>
              <p style="text-align: justify;">Nhằm đảm bảo cung cấp cho Quý khách chế độ ăn uống hợp lý, vệ sinh theo
                tư vấn của bác sĩ chuyên khoa dinh dưỡng của bệnh viện, vào buổi sáng lúc 8h30-9h ngày hôm trước, nhân
                viên phục vụ phòng sẽ gặp Quý khách để nhận thông tin lựa chọn thực đơn cho ngày hôm sau và khoảng 15h
                cùng ngày (khi mang bữa xế sang) sẽ chốt lại lần nữa, nếu Quý khách hàng có nhu cầu thay đổi món có
                thể báo lại với điều dưỡng. Với các trường hợp có nhu cầu dùng món ăn đặc biệt, Quý khách vui lòng
                thông báo cho điều dưỡng.</p>
              <p style="text-align: justify;"><span style="color: #ff0000;"><strong><span
                      style="text-decoration: underline;">Lưu ý:</span></strong></span> Vì lý do y tế, người nhà khách
                hàng đang điều trị nội trú vui lòng không mang đồ ăn từ ngoài vào và ăn trong phòng bệnh.</p>
              <p style="text-align: justify;">Phí lưu viện: Phí lưu viện được tính từ thời điểm nhập viện cho tới khi
                trả phòng để xuất viện. Phí lưu viện 01 (một) ngày được tính 24 tiếng từ 12 giờ hôm trước đến 12 giờ
                hôm sau.</p>
              <p style="text-align: justify;">Ngoài chi phí tạm ứng ban đầu, các chi phí phát sinh của Quý khách sẽ
                được thông báo và bổ sung tạm ứng nếu số tiền viện phí thực tế vượt số tiền tạm ứng. Quý khách hoặc
                gia đình vui lòng thanh toán tại quầy Thu ngân của bệnh viện.</p>
              <h2><span style="color: #102e9e;"><strong>Thủ tục xuất viện</strong></span></h2>
              <p style="text-align: justify;">Thủ tục xuất viện sẽ được thực hiện vào buổi sáng hàng ngày. Quý Khách
                sẽ nhận được các giấy tờ y tế khi xuất viện, bao gồm: Báo cáo y tế ra viện, kết quả xét nghiệm, kết
                quả chẩn đoán hình ảnh, bảng kê chi phí và biên lai thanh toán, giấy ra viện, giấy chứng sinh (trường
                hợp sinh con), toa thuốc (nếu có).</p>
              <p style="text-align: justify;">Quý khách muốn lấy thuốc theo đơn xuất viện mang về, vui lòng báo điều
                dưỡng để làm thủ tục. Tiền thuốc sẽ được tính trong chi phí thanh toán ra viện của Quý khách.</p>
              <p style="text-align: justify;">Đối với trường hợp sinh tại GudMec Clinic: Quý khách sẽ được nhân viên
                hành chính trung tâm Sản Phụ khoa</a> hướng dẫn điền các
                thông tin cần thiết trên giấy chứng sinh. Giấy chứng sinh sẽ được cấp khi Quý Khách ra viện. Trong
                trường hợp người liên hệ lấy Giấy chứng sinh không phải là mẹ, người được ủy quyền cần mang theo Chứng
                minh thư nhân dân và các giấy tờ của mẹ để được giải quyết thủ tục.</p>
              <h2><span style="color: #102e9e;"><strong>Giờ vào thăm bệnh</strong></span></h2>
              <h3>Phòng khám GudMec Clinic</h3>
              <h4>Giờ thăm người bệnh</h4>
              <ul>
                <li aria-level="1">Sáng: từ 6h00 – 7h00</li>
                <li aria-level="1">Chiều: từ 15h00 – 21h00</li>
                <li aria-level="1">Thứ 7, Chủ nhật và ngày lễ: từ 6h00 – 21h00</li>
              </ul>
              <p>Ngoài thời gian nói trên, thân nhân vào thăm người bệnh cần có sự đồng ý của điều dưỡng trưởng khoa
                hoặc điều dưỡng trưởng ca trực.</p>
            </div>


          </div>
        </div>
        <div class="col-sm-4">
        </div>
      </div>
    </div>
  </div>
</div>