<div class="content" th:fragment="thanhtuu">
  <div class="cat_content">
    <div class=" ">
      <div class="container">
        <div class="row">

          <div class="div_full">
            <div class="div_flex">
              <div class="col-sm-6">
                <a class="thumb_cgia"
                  href="https://tamanhhospital.vn/thanh-tuu/em-be-tu-ky-vi-khach-dac-biet-trong-phong-mo-tim/">
                  <img alt="Em bé tự kỷ và “vị khách đặc biệt” trong phòng mổ tim" class="img-responsive"
                    th:src="@{/images/public/rectangle-1751@2x.png}">
                </a>
              </div>
              <div class="col-sm-6">
                <div class="info_chuyengia">
                  <a title="Em bé tự kỷ và “vị khách đặc biệt” trong phòng mổ tim"
                    href="https://tamanhhospital.vn/thanh-tuu/em-be-tu-ky-vi-khach-dac-biet-trong-phong-mo-tim/">
                    <h2 class="bg_title">Em bé tự kỷ và “vị khách đặc biệt” trong phòng mổ tim</h2>
                  </a>
                  <div class="mt_10">Ca mổ hôm đó thật đặc biệt, chưa từng có tiền lệ trong phòng mổ tim khi bạn búp bê
                    nhỏ được đặc cách vào cùng “chiến binh nhí” là em bé tự kỷ với lỗ thông liên nhĩ lớn.

                    Nhìn bé Anh Thư (7 tuổi, ngụ...</div>
                  <div class="mt_10">
                    <a class="cl_head" title="Em bé tự kỷ và “vị khách đặc biệt” trong phòng mổ tim"
                      href="https://tamanhhospital.vn/thanh-tuu/em-be-tu-ky-vi-khach-dac-biet-trong-phong-mo-tim/"><u>Xem
                        chi tiết</u></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div_full">
            <div class="div_flex">
              <div class="col-sm-6">
                <a class="thumb_cgia" href="https://tamanhhospital.vn/thanh-tuu/cuu-song-hang-tram-thai-nhi/">
                  <img alt="Mổ trong bụng mẹ, cứu sống hàng trăm thai nhi" class="img-responsive"
                    th:src="@{/images/public/rectangle-1752@2x.png}">
                </a>
              </div>
              <div class="col-sm-6">
                <div class="info_chuyengia">
                  <a title="Mổ trong bụng mẹ, cứu sống hàng trăm thai nhi"
                    href="https://tamanhhospital.vn/thanh-tuu/cuu-song-hang-tram-thai-nhi/">
                    <h2 class="bg_title">Mổ trong bụng mẹ, cứu sống hàng trăm thai nhi</h2>
                  </a>
                  <div class="mt_10">Tháng 2/2018, lần đầu tiên, các bác sĩ Bệnh viện Đa khoa Tâm Anh thực hiện thành
                    công ca phẫu thuật nội soi điều trị hội chứng Truyền máu song thai - một biến chứng Sản khoa nguy
                    hiểm.


                    “Thẻ xanh”...</div>
                  <div class="mt_10">
                    <a class="cl_head" title="Mổ trong bụng mẹ, cứu sống hàng trăm thai nhi"
                      href="https://tamanhhospital.vn/thanh-tuu/cuu-song-hang-tram-thai-nhi/"><u>Xem chi tiết</u></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div_full">
            <div class="div_flex">
              <div class="col-sm-6">
                <a class="thumb_cgia"
                  href="https://tamanhhospital.vn/thanh-tuu/ky-thuat-cao-trong-nuoi-tre-sinh-cuc-non/">
                  <img alt="Kỹ thuật cao trong nuôi trẻ sinh cực non" class="img-responsive"
                    th:src="@{/images/public/rectangle-1753@2x.png}">
                </a>
              </div>
              <div class="col-sm-6">
                <div class="info_chuyengia">
                  <a title="Kỹ thuật cao trong nuôi trẻ sinh cực non"
                    href="https://tamanhhospital.vn/thanh-tuu/ky-thuat-cao-trong-nuoi-tre-sinh-cuc-non/">
                    <h2 class="bg_title">Kỹ thuật cao
                      trong nuôi trẻ sinh cực non</h2>
                  </a>
                  <div class="mt_10">10h sáng 18/5, BS.CKI Tô Vũ Thiên Hương nhận nhiệm vụ đón bé sinh non 26 tuần nặng
                    800 gram đang nằm hồi sức ở một bệnh viện phụ sản lớn trên thành phố. Bệnh nhi chuyển viện đến Trung
                    tâm Sơ sinh BVĐK...</div>
                  <div class="mt_10">
                    <a class="cl_head" title="Kỹ thuật cao trong nuôi trẻ sinh cực non"
                      href="https://tamanhhospital.vn/thanh-tuu/ky-thuat-cao-trong-nuoi-tre-sinh-cuc-non/"><u>Xem chi
                        tiết</u></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div_full">
            <div class="div_flex">
              <div class="col-sm-6">
                <a class="thumb_cgia"
                  href="https://tamanhhospital.vn/thanh-tuu/te-bao-goc-mau-va-mo-day-ron-tu-rac-thai-y-te-den-y-hoc-tai-tao-giau-tiem-nang/">
                  <img alt="Tế bào gốc máu và mô dây rốn – Từ “rác thải y tế” đến y học tái tạo tiềm năng"
                    class="img-responsive" th:src="@{/images/public/rectangle-1754@2x.png}">
                </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 item">
                <div class="info_chuyengia">
                  <a title="Tế bào gốc máu và mô dây rốn – Từ “rác thải y tế” đến y học tái tạo tiềm năng"
                    href="https://tamanhhospital.vn/thanh-tuu/te-bao-goc-mau-va-mo-day-ron-tu-rac-thai-y-te-den-y-hoc-tai-tao-giau-tiem-nang/">
                    <h2 class="mt_10 mb_0 sz_18 pb_15 div_flex_column cl_brand text-uppercase bg_title">Tế bào gốc máu
                      và mô dây rốn – Từ “rác thải y tế” đến y học tái tạo tiềm năng</h2>
                  </a>
                  <div class="mt_10">Sau nhiều năm tiếp cận công nghệ sinh học tế bào gốc thế giới, Việt Nam đã thành
                    công trong việc biến "rác thải y tế” máu và mô dây rốn thành nguồn dự trữ sinh học quý giá cho
                    nghiên cứu, ứng dụng...</div>
                  <div class="mt_10 mb_15mb">
                    <a class="cl_head"
                      title="Tế bào gốc máu và mô dây rốn – Từ “rác thải y tế” đến y học tái tạo tiềm năng"
                      href="https://tamanhhospital.vn/thanh-tuu/te-bao-goc-mau-va-mo-day-ron-tu-rac-thai-y-te-den-y-hoc-tai-tao-giau-tiem-nang/"><u>Xem
                        chi tiết</u></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div_full">
            <div class="div_flex">
              <div class="col-sm-6">
                <a class="thumb_cgia"
                  href="https://tamanhhospital.vn/thanh-tuu/27phut-than-toc-cuu-benh-nhan-nhoi-mau-co-tim/">
                  <img alt="27 phút thần tốc cứu bệnh nhân nhồi máu cơ tim" class="img-responsive"
                    th:src="@{/images/public/rectangle-1755@2x.png}">
                </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 item">
                <div class="info_chuyengia">
                  <a title="27 phút thần tốc cứu bệnh nhân nhồi máu cơ tim"
                    href="https://tamanhhospital.vn/thanh-tuu/27phut-than-toc-cuu-benh-nhan-nhoi-mau-co-tim/">
                    <h2 class="mt_10 mb_0 sz_18 pb_15 div_flex_column cl_brand text-uppercase bg_title">27 phút thần tốc
                      cứu bệnh nhân nhồi máu cơ tim</h2>
                  </a>
                  <div class="mt_10">Các bác sĩ đặt stent khơi thông mạch máu bị tắc, cứu trái tim trước nguy cơ ngừng
                    đập chỉ trong 27 phút, bằng 1/3 thời gian khuyến cáo của thế giới.


                    [caption id="attachment_160806"...</div>
                  <div class="mt_10 mb_15mb">
                    <a class="cl_head" title="27 phút thần tốc cứu bệnh nhân nhồi máu cơ tim"
                      href="https://tamanhhospital.vn/thanh-tuu/27phut-than-toc-cuu-benh-nhan-nhoi-mau-co-tim/"><u>Xem
                        chi tiết</u></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div_full">
            <div class="div_flex">
              <div class="col-sm-6">
                <a class="thumb_cgia"
                  href="https://tamanhhospital.vn/thanh-tuu/tac-dong-mach-phoi-do-thuoc-tranh-thai/">
                  <img alt="Tắc động mạch phổi sau 3 năm uống thuốc ngừa thai" class="img-responsive"
                    th:src="@{/images/public/rectangle-1756@2x.png}">
                </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 item">
                <div class="info_chuyengia">
                  <a title="Tắc động mạch phổi sau 3 năm uống thuốc ngừa thai"
                    href="https://tamanhhospital.vn/thanh-tuu/tac-dong-mach-phoi-do-thuoc-tranh-thai/">
                    <h2 class="mt_10 mb_0 sz_18 pb_15 div_flex_column cl_brand text-uppercase bg_title">Tắc động mạch
                      phổi sau 3 năm uống thuốc ngừa thai</h2>
                  </a>
                  <div class="mt_10">Chị Ánh uống thuốc ngừa thai hơn 3 năm, đột nhiên ngất xỉu, cấp cứu phát hiện huyết
                    khối lấp đầy các nhánh động mạch phổi gây tắc mạch đe dọa tính mạng.

                    BS.CKI Lê Văn Tuyến, Trung tâm Can thiệp...</div>
                  <div class="mt_10 mb_15mb">
                    <a class="cl_head" title="Tắc động mạch phổi sau 3 năm uống thuốc ngừa thai"
                      href="https://tamanhhospital.vn/thanh-tuu/tac-dong-mach-phoi-do-thuoc-tranh-thai/"><u>Xem chi
                        tiết</u></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div_full">
            <div class="div_flex">
              <div class="col-sm-6">
                <a class="thumb_cgia"
                  href="https://tamanhhospital.vn/thanh-tuu/kham-ho-hap-phat-hien-benh-tim-bam-sinh/">
                  <img alt="Mổ không đau “vá” trái tim cho “chiến binh” Khơ-me nhí" class="img-responsive"
                    th:src="@{/images/public/rectangle-175@2x.png}">
                </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 item">
                <div class="info_chuyengia">
                  <a title="Mổ không đau “vá” trái tim cho “chiến binh” Khơ-me nhí"
                    href="https://tamanhhospital.vn/thanh-tuu/kham-ho-hap-phat-hien-benh-tim-bam-sinh/">
                    <h2 class="mt_10 mb_0 sz_18 pb_15 div_flex_column cl_brand text-uppercase bg_title">Mổ không đau
                      “vá” trái tim cho “chiến binh” Khơ-me nhí</h2>
                  </a>
                  <div class="mt_10">Nhìn bé Chanh San Vi Sal (4,5 tháng tuổi, dân tộc Khơ-me) tươi tỉnh hồng hào, bú
                    ngoan trong vòng tay mẹ, không ai nghĩ trước đó 3 ngày bé phải trải qua ca phẫu thuật tim phức tạp.
                    Chiến binh nhỏ với...</div>
                  <div class="mt_10 mb_15mb">
                    <a class="cl_head" title="Mổ không đau “vá” trái tim cho “chiến binh” Khơ-me nhí"
                      href="https://tamanhhospital.vn/thanh-tuu/kham-ho-hap-phat-hien-benh-tim-bam-sinh/"><u>Xem chi
                        tiết</u></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div_full">
            <div class="div_flex">
              <div class="col-sm-6">
                <a class="thumb_cgia" href="https://tamanhhospital.vn/thanh-tuu/mo-tim-tu-duong-nguc-trai/">
                  <img alt="Mổ tim từ đường ngực trái tiếp cận mạch máu tim" class="img-responsive"
                    src="https://tamanhhospital.vn/wp-content/uploads/2023/06/mo-duong-nguc-trai.jpg">
                </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 item">
                <div class="info_chuyengia">
                  <a title="Mổ tim từ đường ngực trái tiếp cận mạch máu tim"
                    href="https://tamanhhospital.vn/thanh-tuu/mo-tim-tu-duong-nguc-trai/">
                    <h2 class="mt_10 mb_0 sz_18 pb_15 div_flex_column cl_brand text-uppercase bg_title">Mổ tim từ đường
                      ngực trái tiếp cận mạch máu tim</h2>
                  </a>
                  <div class="mt_10">Bệnh nhân có đường mở khí quản gần xương ức nên không thể mổ tim theo cách thông
                    thường, bác sĩ phải mở đường ngực bên trái để tiếp cận mạch máu tim.

                    Ngày 26/5, ông Trung (63 tuổi, Q. 2 TP HCM)...</div>
                  <div class="mt_10 mb_15mb">
                    <a class="cl_head" title="Mổ tim từ đường ngực trái tiếp cận mạch máu tim"
                      href="https://tamanhhospital.vn/thanh-tuu/mo-tim-tu-duong-nguc-trai/"><u>Xem chi tiết</u></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="div_full">
            <div class="div_flex">
              <div class="col-sm-6">
                <a class="thumb_cgia" href="https://tamanhhospital.vn/thanh-tuu/giai-phong-khoi-u/">
                  <img alt="Giải phóng khối u “dính chặt” khí quản, thực quản" class="img-responsive"
                    src="https://tamanhhospital.vn/wp-content/uploads/2023/06/phim-chup-khoi-u.jpg">
                </a>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-4 item">
                <div class="info_chuyengia">
                  <a title="Giải phóng khối u “dính chặt” khí quản, thực quản"
                    href="https://tamanhhospital.vn/thanh-tuu/giai-phong-khoi-u/">
                    <h2 class="mt_10 mb_0 sz_18 pb_15 div_flex_column cl_brand text-uppercase bg_title">Giải phóng khối
                      u “dính chặt” khí quản, thực quản</h2>
                  </a>
                  <div class="mt_10">Khối u nằm ngay trung tâm của trung thất, bao quanh bởi các mạch máu và cơ quan
                    quan trọng, gây khó khăn cho bác sĩ trong quá trình phẫu thuật.


                    [caption id="attachment_87887" align="aligncenter"...</div>
                  <div class="mt_10 mb_15mb">
                    <a class="cl_head" title="Giải phóng khối u “dính chặt” khí quản, thực quản"
                      href="https://tamanhhospital.vn/thanh-tuu/giai-phong-khoi-u/"><u>Xem chi tiết</u></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <style>
    .mt_10 {
      margin-top: 10px;
    }

    .cat_content {
      background: #fff;
    }

    .container {
      width: 1170px;
    }

    .row {
      margin-right: -10px;
      margin-left: -10px;
    }

    .div_full {
      margin-left: calc(50% - 50vw);
      margin-right: calc(50% - 50vw);
      width: 100vw;
      padding-top: 20px;
      padding-bottom: 20px;

    }

    .col-sm-6 {
      flex: 0 0 auto;
      width: 50%;
    }

    .content {
      width: 50%;
      /* hoặc bất kỳ giá trị nào phù hợp */
      margin-left: auto;
      margin-right: auto;
    }

    .div_flex,
    .dvkhac .owl-stage {
      display: flex;
      flex-direction: row;
    }

    body.tax-catthanhtuu .bg_title {
      display: inline-flex;
      background: url(../images/bg_ttuu.png) no-repeat;
      background-size: 40px auto;
      padding-left: 50px;
      height: 62px;
    }

    .carousel-inner>.item>a>img,
    .carousel-inner>.item>img,
    .img-responsive,
    .thumbnail a>img,
    .thumbnail>img {
      display: block;
      max-width: 100%;
      height: auto;
    }

    .info_chuyengia {
      position: relative;
    }

    div a {
      color: #2caff0;
      text-decoration: none;
    }
  </style>
</div>