.trang-ch-child,
.trang-ch-item {
  position: absolute;
  top: 327.8px;
  left: 193px;
  width: 8px;
  height: 8px;
  object-fit: contain;
}

.trang-ch-item {
  top: 1578px;
  left: 163px;
  width: 1147px;
  height: 4px;
}

.i-ng-bc {
  position: absolute;
  top: 1616px;
  left: calc(50% - 232px);
  font-size: 18px;
  display: inline-block;
  width: 474px;
  height: 27px;
}

.component-1variant6-child {
  position: absolute;
  height: 100%;
  width: 100.13%;
  top: -0.19%;
  right: -0.26%;
  bottom: 0.19%;
  left: 0.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}

.component-1variant6-child1,
.component-1variant6-child2,
.component-1variant6-inner,
.component-1variant6-item {
  position: absolute;
  height: 75.68%;
  width: 14.67%;
  top: 1.12%;
  right: 74.08%;
  bottom: 23.19%;
  left: 11.25%;
  border-radius: var(--br-26xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.component-1variant6-child1,
.component-1variant6-child2,
.component-1variant6-inner {
  top: 1.27%;
  right: 52.72%;
  bottom: 23.04%;
  left: 32.62%;
}

.component-1variant6-child1,
.component-1variant6-child2 {
  right: 31.35%;
  left: 53.99%;
}

.component-1variant6-child2 {
  right: 9.56%;
  left: 75.77%;
}

.bsckii-inh-th,
.pgstsbs-nguyn-c,
.tttbsckii-t-phng {
  position: absolute;
  height: 10.49%;
  width: 15.09%;
  top: 82.43%;
  left: 11.04%;
  display: inline-block;
}

.bsckii-inh-th,
.tttbsckii-t-phng {
  width: 13.99%;
  left: 32.92%;
}

.tttbsckii-t-phng {
  height: 11.99%;
  width: 14.08%;
  top: 79.81%;
  left: 54.31%;
}

.ttuttsbs-hong-kim {
  margin: 0;
}

.ttuttsbs-hong-kim-container {
  position: absolute;
  height: 11.99%;
  width: 13.65%;
  top: 80.93%;
  left: 76.32%;
  font-size: var(--localhost-roboto-medium-16-size);
  display: inline-block;
}

.component-1variant6 {
  position: absolute;
  top: 28px;
  left: 7217px;
  width: 1440px;
  height: 266.9px;
}

.component-1variant5-child {
  position: absolute;
  height: 100.56%;
  width: 122.22%;
  top: 0;
  right: -22.35%;
  bottom: -0.56%;
  left: 0.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}

.component-1variant5-child1,
.component-1variant5-inner,
.component-1variant5-item {
  position: absolute;
  height: 75.68%;
  width: 14.67%;
  top: 1.27%;
  right: 72.89%;
  bottom: 23.04%;
  left: 12.44%;
  border-radius: var(--br-26xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.component-1variant5-child1,
.component-1variant5-inner {
  top: 1.12%;
  right: 52.07%;
  bottom: 23.19%;
  left: 33.26%;
}

.component-1variant5-child1 {
  top: 0;
  right: 31.24%;
  bottom: 24.32%;
  left: 54.1%;
}

.pgstsbs-trnh-tun,
.pgstsbscc-ng-hng {
  position: absolute;
  height: 10.49%;
  width: 15.09%;
  top: 80.55%;
  left: 12.43%;
  display: inline-block;
}

.pgstsbscc-ng-hng {
  width: 13.99%;
  top: 80.7%;
  left: 33.3%;
}

.tsbs-nguyn-th-container,
.ttndtsbsckii-phan-th {
  position: absolute;
  height: 11.99%;
  width: 14.08%;
  top: 79.81%;
  left: 54.1%;
  display: inline-block;
}

.ttndtsbsckii-phan-th {
  width: 13.65%;
  top: 79.06%;
  left: 76.32%;
  font-size: var(--localhost-roboto-medium-16-size);
}

.component-1variant5 {
  position: absolute;
  top: 19px;
  left: 5777px;
  width: 1440px;
  height: 266.9px;
}

.component-1variant4-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0.11%;
  right: 1.19%;
  bottom: -0.11%;
  left: -1.19%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}

.component-1variant4-child1,
.component-1variant4-child2,
.component-1variant4-inner,
.component-1variant4-item {
  position: absolute;
  height: 75.68%;
  width: 14.67%;
  top: 0.11%;
  right: 74.08%;
  bottom: 24.2%;
  left: 11.25%;
  border-radius: var(--br-26xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.component-1variant4-child1,
.component-1variant4-child2,
.component-1variant4-inner {
  top: 1.24%;
  right: 53.11%;
  bottom: 23.08%;
  left: 32.22%;
}

.component-1variant4-child1,
.component-1variant4-child2 {
  right: 32.14%;
  left: 53.19%;
}

.component-1variant4-child2 {
  right: 11.1%;
  left: 74.24%;
}

.bsckii-trn-th,
.pgstsbs-trn-phan,
.thsbs-giang-hunh,
.thsbsckii-nguyn-vn {
  position: absolute;
  height: 10.49%;
  width: 15.09%;
  top: 80.67%;
  left: 11.25%;
  display: inline-block;
}

.bsckii-trn-th,
.thsbs-giang-hunh,
.thsbsckii-nguyn-vn {
  width: 13.99%;
  left: 32.57%;
}

.bsckii-trn-th,
.thsbsckii-nguyn-vn {
  height: 11.99%;
  width: 14.08%;
  left: 53.54%;
}

.thsbsckii-nguyn-vn {
  width: 15.35%;
  top: 79.92%;
  left: 74.24%;
  font-size: var(--localhost-roboto-medium-16-size);
}

.component-1variant4 {
  position: absolute;
  top: 10px;
  left: 4355px;
  width: 1440px;
  height: 266.9px;
}

.component-1variant3-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: -0.13%;
  bottom: 0;
  left: 0.13%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}

.ttndgsts-nguyn-vit {
  position: absolute;
  height: 11.99%;
  width: 14.08%;
  top: 80.55%;
  left: 54.31%;
  display: inline-block;
}

.component-1variant3 {
  position: absolute;
  top: 1px;
  left: 2892px;
  width: 1440px;
  height: 266.9px;
}

.component-1variant2-child {
  position: absolute;
  height: 99.96%;
  width: 98.85%;
  top: -1.46%;
  right: 2.03%;
  bottom: 1.5%;
  left: -0.87%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}

.component-1variant2-child1,
.component-1variant2-child2,
.component-1variant2-inner,
.component-1variant2-item {
  position: absolute;
  height: 75.69%;
  width: 14.67%;
  top: 0;
  right: 74.08%;
  bottom: 24.31%;
  left: 11.25%;
  border-radius: var(--br-26xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.component-1variant2-child1,
.component-1variant2-child2,
.component-1variant2-inner {
  right: 53.67%;
  left: 31.67%;
}

.component-1variant2-child1,
.component-1variant2-child2 {
  right: 33.25%;
  left: 52.08%;
}

.component-1variant2-child2 {
  top: -0.37%;
  right: 11.17%;
  bottom: 24.68%;
  left: 74.17%;
}

.bs-trn-vng,
.bsckii-nguyn-b,
.thsbsckii-trn-th,
.tttpgstsbs-v-l {
  position: absolute;
  height: 10.49%;
  width: 15.09%;
  top: 79.4%;
  left: 11.04%;
  display: inline-block;
}

.bs-trn-vng,
.bsckii-nguyn-b,
.thsbsckii-trn-th {
  width: 13.99%;
  top: 80.9%;
  left: 32.92%;
}

.bs-trn-vng,
.thsbsckii-trn-th {
  height: 11.99%;
  width: 14.08%;
  top: 79.4%;
  left: 52.64%;
}

.bs-trn-vng {
  width: 13.65%;
  left: 75.14%;
  font-size: var(--localhost-roboto-medium-16-size);
}

.component-1variant2 {
  position: absolute;
  top: 0;
  left: 1463px;
  width: 1440px;
  height: 267px;
}

.component-1default-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}

.component-1default-child1,
.component-1default-child2,
.component-1default-inner,
.component-1default-item {
  position: absolute;
  height: 75.69%;
  width: 14.67%;
  top: 1.12%;
  right: 72.69%;
  bottom: 23.18%;
  left: 12.64%;
  border-radius: var(--br-26xl);
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.component-1default-child1,
.component-1default-child2,
.component-1default-inner {
  top: 1.31%;
  right: 52.72%;
  bottom: 23%;
  left: 32.62%;
}

.component-1default-child1,
.component-1default-child2 {
  right: 31.35%;
  left: 53.99%;
}

.component-1default-child2 {
  right: 9.56%;
  left: 75.77%;
}

.ngndgstsbs-trn-i,
.pgstsbs-phm-nguyn,
.pgstsbsckii-trn-vn,
.tttpgsts-triu-triu {
  position: absolute;
  height: 10.49%;
  width: 15.09%;
  top: 80.56%;
  left: 12.21%;
  display: inline-block;
}

.ngndgstsbs-trn-i,
.pgstsbs-phm-nguyn,
.pgstsbsckii-trn-vn {
  width: 13.99%;
  left: 32.98%;
}

.ngndgstsbs-trn-i,
.pgstsbs-phm-nguyn {
  height: 11.99%;
  width: 14.08%;
  left: 54.26%;
}

.ngndgstsbs-trn-i {
  width: 13.65%;
  top: 79.06%;
  left: 76.31%;
  font-size: var(--localhost-roboto-medium-16-size);
}

.component-1default {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-lightgray);
  width: 1440px;
  height: 267px;
}

.component-1variant6-parent,
.trang-ch-inner {
  position: absolute;
  top: 12px;
  left: -3px;
  width: 8657px;
  height: 294.9px;
}

.trang-ch-inner {
  top: 1674px;
  left: 198px;
  background-color: var(--color-lightgray);
  width: 1087px;
  height: 271px;
  overflow: hidden;
  font-size: var(--font-size-mini);
  color: var(--color-mediumslateblue);
}

.polygon-icon {
  position: absolute;
  top: 378.6px;
  left: 866.9px;
  width: 15.7px;
  height: 10.6px;
  object-fit: contain;
}

.span6 {
  white-space: pre-wrap;
}

.chi-tit,
.gii-tr-ung {
  position: absolute;
  top: 378.6px;
  left: 819.7px;
  display: inline-block;
  width: 73.5px;
  height: 17.2px;
}

.gii-tr-ung {
  top: 209.5px;
  left: 697.9px;
  text-align: center;
  width: 455.5px;
  height: 26.6px;
}

.chng-trm-cm {
  color: inherit;
}

.vic-s-dng-container {
  position: absolute;
  top: 255px;
  left: 790.3px;
  display: inline-block;
  width: 330.6px;
  height: 103px;
}

.chi-tit1,
.group-child26 {
  position: absolute;
  top: 155.3px;
}

.group-child26 {
  left: 343.2px;
  width: 15.7px;
  height: 10.6px;
  object-fit: contain;
}

.chi-tit1 {
  left: 293.9px;
  display: inline-block;
  width: 73.5px;
  height: 17.2px;
}

.ung-th-tuyn {
  text-decoration: underline;
}

.cc-nh-khoa-container,
.tr-tu-nhn {
  position: absolute;
  top: 52.3px;
  left: 251.9px;
  display: inline-block;
  width: 330.6px;
  height: 103px;
}

.tr-tu-nhn {
  top: 5.1px;
  font-size: var(--font-size-mini);
  width: 300.2px;
  height: 47.2px;
}

.group-child27 {
  position: absolute;
  top: 0;
  left: 0;
  width: 238.2px;
  height: 207.7px;
  object-fit: cover;
}

.group-child28,
.polygon-group {
  position: absolute;
  top: 265.3px;
  left: 0;
  width: 582.5px;
  height: 207.7px;
}

.group-child28 {
  top: 0;
  left: 737.8px;
  width: 513.2px;
  height: 191.4px;
  object-fit: cover;
}

.chi-tit2,
.group-child29 {
  position: absolute;
  top: 155.4px;
}

.group-child29 {
  left: 343.2px;
  width: 15.7px;
  height: 10.6px;
  object-fit: contain;
}

.chi-tit2 {
  left: 293.9px;
  display: inline-block;
  width: 73.5px;
  height: 17.2px;
}

.covid-19,
.p1 {
  white-space: pre-wrap;
}

.covid-19 {
  color: inherit;
}

.p1 {
  margin: 0;
}

.mt-nghin-cu-container,
.nghin-cu-mi {
  position: absolute;
  top: 52.4px;
  left: 251.9px;
  display: inline-block;
  width: 330.6px;
  height: 103px;
}

.nghin-cu-mi {
  top: 5.2px;
  font-size: var(--font-size-mini);
  width: 300.2px;
  height: 47.2px;
}

.polygon-container,
.polygon-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 582.5px;
  height: 207.7px;
}

.polygon-parent {
  top: 2180px;
  left: 92px;
  width: 1251px;
  height: 473px;
  text-align: left;
  font-size: var(--font-size-xs);
}

.group-child31 {
  position: absolute;
  top: 26px;
  left: calc(50% - 67px);
  width: 135px;
  height: 0.7px;
  object-fit: contain;
}

.tin-lin-quan,
.vector-parent8 {
  position: absolute;
  width: 294px;
  height: 52px;
}

.tin-lin-quan {
  top: 0;
  left: 0;
  display: inline-block;
}

.vector-parent8 {
  top: 2069px;
  left: calc(50% - 142px);
  font-size: var(--localhost-roboto-medium-16-size);
}

.footer-component-child8 {
  position: absolute;
  top: 1px;
  left: 0;
  width: 1440px;
  height: 240px;
}

.phng-khm-a-container11,
.sdt-0235392165610 {
  position: absolute;
  height: 11.42%;
  width: 66.04%;
  top: 81.75%;
  left: 17.71%;
  display: inline-block;
}

.sdt-0235392165610 {
  height: 98.52%;
  width: 97.49%;
  top: 1.48%;
  left: 2.51%;
}

.icon-cellphone10 {
  position: absolute;
  height: 65.52%;
  width: 5.53%;
  top: 0;
  right: 94.47%;
  bottom: 34.48%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.group-child32,
.sdt-02353921656-parent8 {
  position: absolute;
  height: 21.06%;
  width: 55.9%;
  top: 36%;
  right: 44.1%;
  bottom: 42.95%;
  left: 0;
}

.group-child32 {
  height: 14.29%;
  width: 80%;
  top: 100%;
  right: 9.63%;
  bottom: -14.29%;
  left: 10.37%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.lin-h10 {
  position: absolute;
  height: 72.86%;
  width: 100%;
  top: 0;
  left: 0;
  display: inline-block;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #7480ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vector-parent9 {
  position: absolute;
  height: 21.78%;
  width: 18.96%;
  top: 0;
  right: 70.93%;
  bottom: 78.22%;
  left: 10.11%;
}

.sdt-2-190086863010 {
  position: absolute;
  height: 100%;
  width: 91.79%;
  top: 0;
  left: 8.21%;
  display: inline-block;
}

.icon-phone10 {
  position: absolute;
  height: 79.33%;
  width: 5.64%;
  top: 12%;
  right: 94.36%;
  bottom: 8.67%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.sdt-2-1900868630-parent8 {
  position: absolute;
  height: 15.56%;
  width: 54.78%;
  top: 61.2%;
  right: 45.22%;
  bottom: 23.24%;
  left: 0;
}

.email-contactmsgdkhamatsaig10 {
  position: absolute;
  height: 97.4%;
  width: 93.54%;
  top: 0;
  left: 6.46%;
  display: inline-block;
}

.icon-envelope-closed10 {
  position: absolute;
  height: 57.14%;
  width: 3.93%;
  top: 42.86%;
  right: 96.07%;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}

.email-contactmsgdkhamatsaig-parent8,
.group-parent28 {
  position: absolute;
  height: 15.98%;
  width: 100%;
  top: 84.02%;
  right: 0;
  bottom: 0;
  left: 0;
}

.group-parent28 {
  height: 40.17%;
  width: 24.72%;
  top: 17.08%;
  right: 10.42%;
  bottom: 42.75%;
  left: 64.86%;
  font-size: var(--localhost-roboto-medium-16-size);
}

.heading-140 {
  position: relative;
  white-space: pre-wrap;
}

.heading-1margin40 {
  position: absolute;
  top: 0;
  left: 0;
  width: 166.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl-4) 0 var(--padding-3xl-4);
  box-sizing: border-box;
}

.heading-141 {
  width: 82px;
  position: relative;
  display: flex;
  align-items: center;
}

.heading-1margin41 {
  position: absolute;
  top: 0;
  left: 149px;
  width: 82.7px;
  height: 64.9px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl-4) 0 var(--padding-3xl-4);
  box-sizing: border-box;
  color: var(--color-white);
}

.heading-1margin-parent18 {
  position: absolute;
  top: 52.2px;
  left: 0;
  width: 231.7px;
  height: 76.9px;
}

.standard-collection-2320 {
  position: absolute;
  height: 47.17%;
  width: 50.93%;
  top: 0;
  right: 21.45%;
  bottom: 52.83%;
  left: 27.62%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.group-parent29 {
  position: absolute;
  top: 46px;
  left: 165px;
  width: 231.7px;
  height: 129.1px;
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--color-royalblue);
}

.footer-component10 {
  position: absolute;
  top: 2712px;
  left: 5px;
  width: 1440px;
  height: 240px;
  color: var(--color-white);
}

.dnh-cho-khch {
  position: absolute;
  top: 0;
  left: calc(50% - 252.5px);
  display: inline-block;
  width: 505px;
  height: 26px;
}

.group-child33 {
  position: absolute;
  top: 26px;
  left: calc(50% - 67.5px);
  width: 135px;
  height: 0.7px;
  object-fit: contain;
}

.dnh-cho-khch-hng-parent {
  position: absolute;
  top: 238px;
  left: calc(50% - 256px);
  width: 505px;
  height: 26.7px;
  font-size: var(--font-size-xl);
}

.group-child34 {
  position: absolute;
  height: 91.96%;
  width: 99.86%;
  top: 0;
  right: 0.14%;
  bottom: 8.04%;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke);
}

.group-child35 {
  position: absolute;
  top: 18.2px;
  left: 0.2px;
  width: 280px;
  height: 150px;
  object-fit: cover;
}

.phiu-kho-st {
  position: absolute;
  top: 182.2px;
  left: 17.2px;
  display: inline-block;
  width: 228px;
  height: 43px;
}

.group-child36,
.rectangle-parent2 {
  position: absolute;
  height: 7.63%;
  width: 19.46%;
  top: 9.88%;
  right: 64.72%;
  bottom: 82.49%;
  left: 15.82%;
}

.group-child36 {
  height: 91.96%;
  width: 99.79%;
  top: 0;
  right: 0.21%;
  bottom: 8.04%;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke);
}

.group-child37 {
  position: absolute;
  top: 18.2px;
  left: 0.4px;
  width: 280px;
  height: 150px;
  object-fit: cover;
}

.tra-cu-kt-container {
  position: absolute;
  top: 182.2px;
  left: 17.4px;
  display: inline-block;
  width: 228px;
  height: 43px;
}

.group-child38,
.rectangle-parent3 {
  position: absolute;
  height: 7.63%;
  width: 19.47%;
  top: 9.88%;
  right: 39.17%;
  bottom: 82.49%;
  left: 41.36%;
}

.group-child38 {
  height: 94.48%;
  width: 99.68%;
  top: 0;
  right: 0.32%;
  bottom: 5.52%;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke);
}

.group-child39 {
  position: absolute;
  top: 18.2px;
  left: 0.7px;
  width: 280px;
  height: 150px;
  object-fit: cover;
}

.th-tc-xut4 {
  position: absolute;
  top: 190.2px;
  left: 16.7px;
  display: inline-block;
  width: 248px;
  height: 29px;
}

.group-child40,
.rectangle-parent4 {
  position: absolute;
  height: 7.42%;
  width: 19.49%;
  top: 9.88%;
  right: 15.14%;
  bottom: 82.7%;
  left: 65.37%;
}

.group-child40 {
  height: 85.12%;
  width: 99.86%;
  top: 0;
  right: 0.14%;
  bottom: 14.88%;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke);
}

.group-child41 {
  position: absolute;
  top: 36.3px;
  left: 0.2px;
  width: 280px;
  height: 150px;
  object-fit: cover;
}

.quy-trnh-khm-container {
  position: absolute;
  top: 200.3px;
  left: 17.2px;
  display: inline-block;
  width: 228px;
  height: 43px;
}

.group-child42,
.rectangle-parent5 {
  position: absolute;
  height: 8.24%;
  width: 19.46%;
  top: 19.73%;
  right: 64.72%;
  bottom: 72.03%;
  left: 15.82%;
}

.group-child42 {
  height: 82.41%;
  width: 99.79%;
  top: 0;
  right: 0.21%;
  bottom: 17.59%;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke);
}

.group-child43 {
  position: absolute;
  top: 36.3px;
  left: 0.4px;
  width: 280px;
  height: 150px;
  object-fit: cover;
}

.hng-dn-thanh-container {
  position: absolute;
  top: 200.3px;
  left: 20.4px;
  display: inline-block;
  width: 245px;
  height: 51px;
}

.group-child44,
.rectangle-parent6 {
  position: absolute;
  height: 8.51%;
  width: 19.47%;
  top: 19.73%;
  right: 39.17%;
  bottom: 71.76%;
  left: 41.36%;
}

.group-child44 {
  height: 85.23%;
  width: 99.68%;
  top: 0;
  right: 0.32%;
  bottom: 14.77%;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke);
}

.group-child45 {
  position: absolute;
  top: 36px;
  left: 0.7px;
  width: 280px;
  height: 150px;
  object-fit: cover;
}

.bng-gi-phng-container1 {
  position: absolute;
  top: 200px;
  left: 17.7px;
  display: inline-block;
  width: 259px;
  height: 43px;
}

.group-child46,
.rectangle-parent7 {
  position: absolute;
  height: 8.23%;
  width: 19.49%;
  top: 19.57%;
  right: 15.14%;
  bottom: 72.2%;
  left: 65.37%;
}

.group-child46 {
  height: 79.23%;
  width: 99.86%;
  top: 0;
  right: 0.14%;
  bottom: 20.77%;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke);
}

.group-child47 {
  position: absolute;
  top: 54.4px;
  left: 0.2px;
  width: 280px;
  height: 150px;
  object-fit: cover;
}

.thng-tin-cho1 {
  position: absolute;
  top: 218.4px;
  left: 17.2px;
  display: inline-block;
  width: 228px;
  height: 43px;
}

.group-child48,
.rectangle-parent8 {
  position: absolute;
  height: 8.85%;
  width: 19.46%;
  top: 29.58%;
  right: 64.72%;
  bottom: 61.56%;
  left: 15.82%;
}

.group-child48 {
  height: 79.23%;
  width: 99.79%;
  top: 0;
  right: 0.21%;
  bottom: 20.77%;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke);
}

.group-child49 {
  position: absolute;
  top: 54.4px;
  left: 0.4px;
  width: 280px;
  height: 150px;
  object-fit: cover;
}

.hng-dn-khch2 {
  position: absolute;
  top: 218.4px;
  left: 17.4px;
  display: inline-block;
  width: 228px;
  height: 43px;
}

.group-child50,
.rectangle-parent9 {
  position: absolute;
  height: 8.85%;
  width: 19.47%;
  top: 29.58%;
  right: 39.17%;
  bottom: 61.56%;
  left: 41.36%;
}

.group-child50 {
  height: 79.41%;
  width: 99.68%;
  top: 0;
  right: 0.32%;
  bottom: 20.59%;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke);
}

.group-child51 {
  position: absolute;
  top: 53.8px;
  left: 0.7px;
  width: 280px;
  height: 150px;
  object-fit: cover;
}

.phiu-kho-st1 {
  position: absolute;
  top: 217.8px;
  left: 17.7px;
  display: inline-block;
  width: 228px;
  height: 43px;
}

.group-child52,
.rectangle-parent10 {
  position: absolute;
  height: 8.83%;
  width: 19.49%;
  top: 29.27%;
  right: 15.14%;
  bottom: 61.9%;
  left: 65.37%;
}

.group-child52 {
  height: 74.07%;
  width: 99.79%;
  top: 0;
  right: 0.21%;
  bottom: 25.93%;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-whitesmoke);
}

.group-child53 {
  position: absolute;
  top: 72.6px;
  left: 0.4px;
  width: 280px;
  height: 150px;
  object-fit: cover;
}

.hng-dn-tra {
  position: absolute;
  top: 236.6px;
  left: 17.4px;
  display: inline-block;
  width: 228px;
  height: 43px;
}

.rectangle-parent11 {
  position: absolute;
  height: 9.47%;
  width: 19.47%;
  top: 39.43%;
  right: 39.79%;
  bottom: 51.1%;
  left: 40.74%;
}

.heading-1margin42,
.heading-1margin43 {
  position: absolute;
  top: 0;
  left: 0;
  width: 167.3px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-2xl-4) 0 var(--padding-3xl-4);
  box-sizing: border-box;
}

.heading-1margin43 {
  left: 149.9px;
  width: 83.1px;
  height: 47.2px;
  color: var(--color-darkslateblue-100);
}

.heading-1margin-parent19 {
  position: absolute;
  top: 38.1px;
  left: 0;
  width: 233px;
  height: 76.9px;
}

.standard-collection-2321 {
  position: absolute;
  height: 49.65%;
  width: 47.3%;
  top: 0;
  right: 28.54%;
  bottom: 50.35%;
  left: 24.16%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}

.group-parent30 {
  position: absolute;
  top: 34px;
  left: 7px;
  width: 233px;
  height: 115px;
}

.link-chuyn10,
.link-dch10,
.link-gii10,
.link-i10,
.link-thnh10 {
  position: absolute;
  top: 9.6px;
  left: 190.4px;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 82.2px;
  height: 24px;
  opacity: 0.7;
}

.link-chuyn10,
.link-dch10,
.link-i10,
.link-thnh10 {
  left: 321.8px;
  width: 111.5px;
}

.link-dch10,
.link-i10,
.link-thnh10 {
  left: 463.5px;
  width: 120px;
}

.link-dch10,
.link-thnh10 {
  left: 637.6px;
  width: 64px;
}

.link-thnh10 {
  left: 769.7px;
  width: 91.9px;
}

.link-tin10 {
  top: 9.6px;
  left: 931.2px;
  width: 61px;
}

.link-lin10,
.link-me10,
.link-tin10 {
  position: absolute;
  line-height: 24px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 24px;
  opacity: 0.7;
}

.link-lin10 {
  top: 9.6px;
  left: 1078.8px;
  font-size: var(--localhost-roboto-medium-1588-size);
  width: 57.7px;
}

.link-me10 {
  top: 10px;
  left: 1369px;
  width: 42px;
}

.divcontainer-child7 {
  position: absolute;
  top: 1px;
  left: 1191px;
  background-color: var(--darkprimary);
  width: 143px;
  height: 42px;
}

.t-lch-ngay10 {
  position: absolute;
  top: 9px;
  left: 1198px;
  line-height: 24px;
  font-weight: 500;
  color: var(--color-lightgray);
}

.divline10 {
  position: absolute;
  top: 37px;
  left: 748px;
  border-radius: var(--br-mini);
  background-color: var(--localhost-fun-blue);
  width: 147px;
  height: 5px;
}

.symbol10 {
  position: absolute;
  top: -10px;
  left: 96px;
  font-size: var(--font-size-5xl);
  line-height: 16px;
  font-family: var(--font-font-awesome-5-free);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 53px;
  height: 55px;
  opacity: 0.7;
  cursor: pointer;
}

.divcontainer10 {
  position: absolute;
  top: 135.2px;
  left: 0;
  background-color: var(--darkprimary);
  width: 1436px;
  height: 57px;
  text-align: center;
  font-size: var(--localhost-roboto-medium-16-size);
  color: var(--color-white);
  font-family: var(--localhost-roboto-medium-1588);
}

.header-component10 {
  position: absolute;
  top: 0;
  left: calc(50% - 720px);
  background: linear-gradient(90deg, #fff, #fa8fc9 25%, #a52c82 50%, #2b4b9b);
  border: 1px solid var(--gradient);
  box-sizing: border-box;
  width: 1440px;
  height: 192.2px;
  text-align: left;
  font-size: var(--font-size-8xl);
  color: var(--color-royalblue);
}

.trang-ch {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 2953px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-black);
  font-family: var(--font-inter);
}