
<div class="booking-doctor">
  <div class="input-date">
    <input id = "input-date" type="date" >
  </div>

  <div class="view-booking">
      <div class="booking-model">
        <i id="left-click" class="fa-solid fa-chevron-left"></i>
        <div class="view-booking-model" th:each = "bookingItem, iterStat : ${ListbookingAvailable}" style="left: 0px;">

          <div class="date-and-countAvailable" th:data-value="${#dates.format(bookingItem.day, 'yyyy-MM-dd')}" th:classappend="${iterStat.first} ? 'active'">
            <div class="date-and-count">
              <div class="dayOfweek" th:text="${#dates.format(bookingItem.day, 'EEEE')}"></div>
              <div class="bookingItem" th:text="${#dates.format(bookingItem.day, 'dd/MM')}"></div>
              <div class="cout-available" th:text="${bookingItem.ListShift.size()} + ' trống'" th:classappend="${bookingItem.ListShift.size() > 0} ? 'isavailable' : ''"></div>
            </div>
          </div>

          <div class="shift-hidden-available">
            <div class="container morning-shift">
              <div class="shift-item" th:each="shiftItem : ${bookingItem.ListShift}" th:if="${shiftItem.Id le 7}" th:text="${shiftItem.timeStart} + ' : ' + ${shiftItem.timeEnd}" th:data-value="${shiftItem.Id}"></div>
            </div>

            <div class="container afternoon-shift">
              <div class="shift-item"  th:each="shiftItem : ${bookingItem.ListShift}" th:unless="${shiftItem.Id le 7}" th:text="${shiftItem.timeStart} + ' : ' + ${shiftItem.timeEnd}" th:data-value="${shiftItem.Id}"></div>
            </div>
          </div>
        </div>
        <i id="right-click" class="fa-solid fa-chevron-right"></i>
      </div>

      <div class="view-shift-available">
        <div class="morning">
          <span class="txt-morning">Sáng</span>
        </div>

        <div class="afternoon">
          <span class="txt-afternoon">Chiều</span>
        </div>
      </div>
      <div class="list-shift"></div>
      <div class="price">
          <i class="fa-solid fa-dollar-sign"></i>
          <span class="txt-price">Phí dịch vụ </span>
          <span class="doctor-price" th:text="${doctor.ServicePrices}"></span>
      </div>
      <button class="btn-submit" data-bs-toggle="modal" data-bs-target="#exampleModal">Xác nhận lịch hẹn</button>
  </div>
</div>
