<div class="fillter-body" th:fragment="fillterDoctorPage">
    
    <div class="container container_custom3">

        <div class="cover-nulltext-and-towdiv">
    
            <div class="cover-two-div">
                <div class="input-and-btn">
                    <div class="input-fillter">
                        <label class="doctor-name" for="fillter-doctor">Tên bác sĩ</label>
                        <input id="fillter-doctor" type="text">
                    </div>
                    <div class="search-btn">
                        <button id="search-btn" th:value="@{ (${#lists.isEmpty(listDoctorOfDepartment)}) ? '' : '/home/user/appointment/doctors/byName/' + ${listDoctorOfDepartment[0].departmentRespone.getId()}}">Tìm kiếm</button>
                    </div>
                </div>
                
                <div id="dynamic-content" th:if="${listDoctorOfDepartment != null && !(#lists.isEmpty(listDoctorOfDepartment))}">
                    <div class="list-doctor-department">
                        <div class="card w-100 mb-5 card-doctor" th:each="doctor : ${listDoctorOfDepartment}">
                            <div class="card-body">
                              <h5 class="card-title" th:text="${doctor.nameDoctor}"></h5>
                              <p class="card-text" th:text="${doctor.departmentRespone.getNameDepartment()}"></p>
                              <p class="card-text" th:text="${doctor.ServicePrices}"></p>
                              <a th:href="@{'/home/user/appointment/doctor/' + ${doctor.id}}" class="btn btn-primary">Đặt lịch ngay</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="null-text" th:if="${listDoctorOfDepartment == null || #lists.isEmpty(listDoctorOfDepartment)}">
                <p>trống.</p>
            </div>

        </div>

        <div class="buttons-fillter">

            <div class="available">
                <span class="available-bf"></span>
                <span class="available-at">CÒN TRỐNG</span>
                <i class="reset-filter fa-solid fa-filter-circle-xmark"></i>
            </div>

            <div class="container-radio">

                <div class="check-item radio-today">
                    <input class="input-check check-day" th:value="@{ (${#lists.isEmpty(listDoctorOfDepartment)}) ? '' : '/home/user/appointment/doctors/today/' + ${listDoctorOfDepartment[0].departmentRespone.getId()}}" id="check-today" name="check" type="radio">
                    <label class="lable-check" for="check-today">Hôm nay</label>
                </div>
    
                <div class="check-item radio-tomorrow">
                    <input class="input-check check-day" th:value="@{ (${#lists.isEmpty(listDoctorOfDepartment)}) ? '' : '/home/user/appointment/doctors/tomorrow/' + ${listDoctorOfDepartment[0].departmentRespone.getId()}}" id="check-tomorrow" name="check" type="radio">               
                    <label class="lable-check" for="check-tomorrow">Ngày mai</label>
                </div>

                <div class="check-item radio-nextsevenday">
                    <input class="input-check check-day" th:value="@{ (${#lists.isEmpty(listDoctorOfDepartment)}) ? '' : '/home/user/appointment/doctors/nextsevenday/' + ${listDoctorOfDepartment[0].departmentRespone.getId()}}" id="check-nextsevenday" name="check" type="radio">               
                    <label class="lable-check" for="check-nextsevenday">Bảy ngày tới</label>
                </div>
            </div>

            <div class="available">
                <span class="available-bf"></span>
                <span class="available-at">CA KhÁM</span>
            </div>

            <div class="container-radio">

                <div class="check-item radio-today">
                    <input class="input-check check-session" data-value="morning" th:value="@{ (${#lists.isEmpty(listDoctorOfDepartment)}) ? '' : '/home/user/appointment/doctors/today/' + ${listDoctorOfDepartment[0].departmentRespone.getId()}}" id="check-morning" name="check1" type="radio">
                    <label class="lable-check" for="check-today">Sáng</label>
                </div>
    
                <div class="check-item radio-tomorrow">
                    <input class="input-check check-session" data-value="afternoon" th:value="@{ (${#lists.isEmpty(listDoctorOfDepartment)}) ? '' : '/home/user/appointment/doctors/tomorrow/' + ${listDoctorOfDepartment[0].departmentRespone.getId()}}" id="check-afternoon" name="check1" type="radio">               
                    <label class="lable-check" for="check-tomorrow">Chiều</label>
                </div>
            </div>

            <div class="available">
                <span class="available-bf"></span>
                <span class="available-at">GIỚI TÍNH</span>
            </div>

            <div class="container-radio">

                <div class="check-item radio-today">
                    <input class="input-check check-gender" data-value="true" th:value="@{ (${#lists.isEmpty(listDoctorOfDepartment)}) ? '' : '/home/user/appointment/doctors/today/' + ${listDoctorOfDepartment[0].departmentRespone.getId()}}" id="check-morning" name="check2" type="radio">
                    <label class="lable-check" for="check-today">Nam</label>
                </div>
    
                <div class="check-item radio-tomorrow">
                    <input class="input-check check-gender" data-value="false" th:value="@{ (${#lists.isEmpty(listDoctorOfDepartment)}) ? '' : '/home/user/appointment/doctors/tomorrow/' + ${listDoctorOfDepartment[0].departmentRespone.getId()}}" id="check-afternoon" name="check2" type="radio">               
                    <label class="lable-check" for="check-tomorrow">Nữ</label>
                </div>
            </div>
        </div>
    </div>
    <script>
        {       

                const checks = document.querySelectorAll('.check-day')
                const checksSession = document.querySelectorAll('.check-session')
                const checksGender = document.querySelectorAll('.check-gender')
                const btnSearch = document.getElementById('search-btn')
                const inputSearch = document.getElementById('fillter-doctor') 
                const resetFilter = document.querySelector('.reset-filter')

                resetFilter.onclick = () =>{
                    checks.forEach(check => check.checked = false)
                    checksGender.forEach(check => check.checked = false)
                    checksSession.forEach(check => check.checked = false)
                    inputSearch.value = ''

                    var gender = ''
                    var shift = ''
                    
                    var _url = btnSearch.getAttribute('value')
                    var queryParam = encodeURIComponent(''); 
                    var finalUrl =`${_url}?q=${queryParam}&gender=${gender}&shift=${shift}`;

                    console.log(finalUrl)
                    $.ajax({
                        url: finalUrl,
                        success: function (result) {
                            $("#dynamic-content").html(result);
                        }
                    });
                }


                $(document).ready(function () {

                    btnSearch.onclick = () => {
                        var searchText = inputSearch.value;

                        var gender = ''
                        var shift = ''

                        checksGender.forEach(check => {
                            if (check.checked) gender = check.dataset.value
                        });

                        checksSession.forEach(check => {
                            if (check.checked) shift = check.dataset.value
                        });
                        var ischecked = Array.from(checks).some(check => check.checked)
                        
                        if(!ischecked){
                            var _url = btnSearch.getAttribute('value')
                            var queryParam = encodeURIComponent(searchText); 
                            var finalUrl =`${_url}?q=${queryParam}&gender=${gender}&shift=${shift}`;
                            console.log("no checked")
                            $.ajax({
                                url: finalUrl,
                                success: function (result) {
                                    $("#dynamic-content").html(result);
                                }
                            });
                        }

                        checks.forEach((check, index) => {
                            if(check.checked){
                                var _url = check.getAttribute('value')

                                var queryParam = encodeURIComponent(searchText);
                                var finalUrl =`${_url}?q=${queryParam}&gender=${gender}&shift=${shift}`; 
                                $.ajax({
                                    url: finalUrl,
                                    
                                    success: function (result) {
                                        $("#dynamic-content").html(result);
                                    }
                                });
                            };
                        })
                    }

                    checks.forEach((check, index) => {
                        check.onclick = function () {
                            inputSearch.value = ""
                            var searchText = inputSearch.value
                            console.log(searchText)

                            var gender = ''
                            var shift = ''

                            checksGender.forEach(check => {
                                if(check.checked) gender = check.dataset.value
                            });

                            checksSession.forEach(check => {
                                if(check.checked) shift = check.dataset.value
                            });

                            var _url = check.getAttribute('value')

                            var queryParam = encodeURIComponent(searchText); 
                            var finalUrl = `${_url}?q=${queryParam}&gender=${gender}&shift=${shift}`

                            console.log(finalUrl)
                            $.ajax({
                                url: finalUrl,
                                success: function (result) {
                                    $("#dynamic-content").html(result);
                                }
                            });
                        };
                    })

                    checksGender.forEach((check, index) => {
                        check.onclick = function () {
                            inputSearch.value = ""
                            var searchText = inputSearch.value
                            console.log(searchText)

                            var gender = check.dataset.value
                            var shift = ''

                            checksSession.forEach(check => {
                                if(check.checked) shift = check.dataset.value
                            });

                            var ischecked = Array.from(checks).some(check => check.checked)
                            
                            var _url = btnSearch.getAttribute('value');
                            if(ischecked) {
                                checks.forEach(e => {
                                    if(e.checked) _url = e.getAttribute('value')
                                });
                                console.log(_url)
                            }


                            var queryParam = encodeURIComponent(searchText); 
                            var finalUrl = `${_url}?q=${queryParam}&gender=${gender}&shift=${shift}`

                            console.log(finalUrl)
                            $.ajax({
                                url: finalUrl,
                                success: function (result) {
                                    $("#dynamic-content").html(result);
                                }
                            });
                        };
                    })

                    checksSession.forEach((check, index) => {
                        check.onclick = function () {
                            inputSearch.value = ""
                            var searchText = inputSearch.value
                            console.log(searchText)

                            var gender = ''
                            var shift = check.dataset.value

                            checksGender.forEach(check => {
                                if(check.checked) gender = check.dataset.value
                            });

                            var ischecked = Array.from(checks).some(check => check.checked)
                            
                            var _url = btnSearch.getAttribute('value');
                            if(ischecked) {
                                checks.forEach(e => {
                                    if(e.checked) _url = e.getAttribute('value')
                                });
                                console.log(_url)
                            }

                            var queryParam = encodeURIComponent(searchText); 
                            var finalUrl = `${_url}?q=${queryParam}&gender=${gender}&shift=${shift}`

                            console.log(finalUrl)
                            $.ajax({
                                url: finalUrl,
                                success: function (result) {
                                    $("#dynamic-content").html(result);
                                }
                            });
                        };
                    })
                });
        }
    </script>
</div>