<div class="medical-examination-process" th:fragment="medical_examination_process_page">
    <div class="mt-5 mb-5 container container-medical-examination-process-page">
        <div class="first-text-div">
            <h2 class="title-process-page mb-4" style="color: rgb(22,154,231);">QUY TRÌNH KHÁM VÀ ĐIỀU TRỊ NGOẠI TRÚ</h2>
            <div class="diliver-title"></div>
            <p class="first-p-text">
                Với mong muốn đáp ứng nhu cầu khám chữa bệnh, chăm sóc sức khỏe tốt nhất cho tất cả khách hàng, đồng thời giảm thiểu tối đa việc quá tải giường bệnh, tránh việc lây nhiễm chéo trong suốt thời gian nằm viện, đặc biệt là những thời điểm dịch bệnh vào mùa… Bệnh viện Đa khoa Gudmec triển khai dịch vụ thăm khám và điều trị ngoại trú cho tất cả khách hàng.

Chấp hành đầy đủ quy định của <span style="color: rgb(22,154,231);">Bộ Y tế, Bệnh viện Đa khoa Gudmec</span> triển khai thực hiện việc thăm khám và điều trị bệnh thông tuyến bảo hiểm y tế (viết tắt là BHYT) trên toàn quốc. Theo đó, khách hàng có hoặc không tham gia BHYT đến thăm khám và điều trị tại Bệnh viện Đa khoa Gudmec đều hưởng đầy đủ các quyền lợi đúng tuyến với chất lượng dịch vụ cao cấp, nhanh chóng, trực tiếp thăm khám và điều trị bởi các chuyên gia, bác sĩ đầu ngành.
            </p>
        </div>
        <div class="step-process">
            <div class="title-step mb-4">
                <h4 class="titel-process-step" style="color: rgb(16,46,158); font-weight: bold;">
                    Quy trình thăm khám và điều trị bệnh ngoại trú tại Bệnh viện Đa khoa Gudmec
                </h4>
            </div>
            <div class="step-div">
                <h5 class="title-step-text">Bước 1: Đăng ký khám, xuất trình giấy tờ tùy thân và BHYT tại quầy Lễ tân</h5>
                <p class="step-text">Khách hàng xuất trình giấy tờ tùy thân (Chứng minh nhân dân, Thẻ căn cước công dân, Passport) cùng
                    thẻ BHYT cho bộ phận Lễ tân.
                </p>
                <p class="step-text">
                    Nhân viên bộ phận Lễ tân đối chiếu thông tin thẻ BHYT và giấy tờ tùy thân, tiến hành đăng ký lịch khám với bác sĩ
                    theo yêu cầu của khách hàng.</p>
            </div>
            <div class="step-div">
                <h5 class="title-step-text">Bước 2: Thực hiện kiểm tra sinh hiệu tại quầy Điều dưỡng ở phòng khám
                </h5>
                <p class="step-text">Khách hàng theo số thứ tự khám bệnh đã lấy từ quầy Lễ tân đến quầy Điều dưỡng phòng khám để được kiểm tra sinh hiệu.</p>
            </div>
            <div class="step-div">
                <h5 class="title-step-text">Bước 3: Gặp bác sĩ khám, chẩn đoán và chỉ định các xét nghiệm, điều trị tiếp theo (nếu có)</h5>
                <p class="step-text">Các bác sĩ, chuyên gia đầu ngành trực tiếp thăm khám và đánh giá tình trạng; chẩn đoán, tư vấn và yêu cầu các chỉ định lâm sàng (xét nghiệm, X-quang, siêu âm…).</p>
            </div>
            <div class="step-div">
                <h5 class="title-step-text">Bước 4: Thanh toán phí cận lâm sàng tại quầy Thu ngân</h5>
                <p class="step-text">Khách hàng tiến hành thanh toán các khoản phí cận lâm sàng.</p>
            </div>
            <div class="step-div">
                <h5 class="title-step-text">Bước 5: Thực hiện các xét nghiệm cận lâm sàng theo chỉ định của bác sĩ</h5>
                <p class="step-text">Dựa trên chỉ định của bác sĩ mà khách hàng lần lượt tiến hành các xét nghiệm cận lâm sàng như siêu âm, xét nghiệm máu, chụp X-quang, MRI, CT scanner…</p>
            </div>
            <div class="step-div">
                <h5 class="title-step-text">Bước 6: Gặp bác sĩ đọc kết quả và tư vấn phương pháp điều trị</h5>
                <p class="step-text">Sau khi có đầy đủ kết quả kiểm tra cận lâm sàng cần thiết, khách hàng gặp bác sĩ để được tư vấn
                    tình trạng, phương pháp điều trị, cho toa thuốc, chỉ định nhập viện, chuyển viện hoặc hướng điều trị phù hợp và tốt
                    nhất cho từng khách hàng.
                </p>
                <p class="step-text">
                    Khách hàng còn được tư vấn chế độ dinh dưỡng, tập luyện, các biện pháp phòng ngừa bệnh tật hiệu quả.</p>
                
            </div>
            <div class="step-div">
                <h5 class="title-step-text">Bước 7: Mua thuốc và thanh toán tại Nhà thuốc bệnh viện</h5>
                <p class="step-text">Đối với khách hàng không có BHYT:
                    Khách hàng tiến hành mua thuốc và nghe hướng dẫn cách sử dụng thuốc.
                    </p>
                    <p class="step-text">
                        Đối với khách hàng có BHYT:
                        Bộ phận Chăm sóc khách hàng, nhân viên Quầy Thu ngân giải đáp các thắc mắc của khách hàng về chính sách, quyền lợi tham gia BHYT đối với các khách hàng có BHYT.
                        Khách hàng được hướng dẫn thủ tục ra viện (nếu nhập viện), được thông báo khoản chi phí cuối cùng phải thanh toán sau trừ thẻ BHYT.
                        Khách hàng nhận lại thẻ BHYT cùng các giấy tờ tùy nhân.
                        Khách hàng nhận thuốc và được hướng dẫn, giải thích về liều lượng thuốc dùng theo chỉ định của bác sĩ.</p>
    
            </div>
            <div class="text-note">
                <p class="step-text"><span style="text-decoration: underline; font-weight: 500;">Lưu ý:</span> Trong tất cả những bước trên, nếu Quý khách hàng gặp khó khăn hoặc bất tiện ở bất kỳ bước vào xin vui lòng liên hệ nhân viên tại quầy Chăm sóc khách hàng hoặc Nhân viên y tế để được hướng dẫn chi tiết và nhanh chóng.</p>
            </div>
        </div>
    </div>
    
    <style>
        .container-medical-examination-process-page{
            max-width: 1150px;
        }
        .first-p-text{
            white-space: pre-wrap;
        }
        .first-text-div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .title-step-text{
            color: rgb(104,104,104);
        }
        .step-text{
            position: relative;
            margin-left: 10px;
            color: rgb(104,104,104);
        }
        .step-text::before{
            content: '• ';
            position: absolute;
            left: -10px;
        }
        .title-process-page{
            position: relative;
        }
        .title-process-page::after{
            position: absolute;
            content: "";
            left: 50%;
            bottom: -25px;
            border-bottom: 5px solid #5D5D5D;
            width: 70px;
            height: 1px;
            transform: translateX(-50%);
        }
    </style>
</div>