<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <meta name="viewport" content="width=device-width, initial-scale=1.0">-->
<!--    <title>Article Detail</title>-->
<!--    <link rel="stylesheet" th:href="@{/css/article/styles.css}">-->
<!--</head>-->
<!--<body>-->
<!--&lt;!&ndash; Header Fragment &ndash;&gt;-->
<!--<div th:replace="partials/header :: header"></div>-->

<!--<div class="container">-->
<!--    <h1 th:text="${article.title}">Article Title</h1>-->
<!--    <div class="article-content">-->
<!--        <img th:src="${article.firstImageUrl}" alt="Article Image">-->
<!--        <p th:utext="${article.content}"></p>-->
<!--    </div>-->
<!--</div>-->

<!--&lt;!&ndash; Footer Fragment &ndash;&gt;-->
<!--<div th:replace="partials/footer :: footer"></div>-->
<!--</body>-->
<!--</html>-->
