<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/head :: head"> </head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header th:replace="admin/fragments/main-header :: main-header"> </header>

        <aside th:replace="admin/fragments/main-sidebar :: main-sidebar"></aside>

        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Version 2.0</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>

            <section class="content">

                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-success">
                            <div class="box-header with-border">
                                <h3 class="box-title">Quản lý tài khoản người dùng</h3>
                            </div>
                            <div class="search-bar">
                                <p>Tìm kiếm theo: </p>
                                <div class="col-md-2 inline-element">
                                    <select class="form-control options">
                                        <option>id</option>
                                        <option>email</option>
                                        <option>phone</option>
                                        <option>username</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-4 inline-element">
                                    <input type="text" class="form-control search-input" placeholder="Search...">
                                </div>
                                <div class="col-md-3 col-sm-4 inline-element">
                                    <button class="btn btn-default btn-search">Tìm kiếm</button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <div class="row" style="width: 100%">
                                    <div class="col-md-9 col-sm-8">
                                        <div class="table-editable">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th class="id_user">id</th>
                                                        <th class="username">username</th>
                                                        <th class="password">password</th>
                                                        <th class="email">email</th>
                                                        <th class="phone">phone</th>
                                                        <th class="fullname">fullname</th>
                                                        <th class="gender">gender</th>
                                                        <th class="birthday">birthday</th>
                                                        <th class="enabled">enabled</th>
                                                        <th class="role">role</th>
                                                        <th class="action">action</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tableBody">
                                                </tbody>
                                            </table>
                                            <div class="btn-end">
                                                <button class="btn btn-default">Save changes</button>
                                            </div>
                                            <script th:src="@{/js/admin/accounts-management.js}"> </script>
                                            <div id="world-map-markers" style="height: 325px;"></div>
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>

            </section>

        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.13
            </div>
            <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE</a>.</strong> All rights
            reserved.
        </footer>

        <aside th:replace="admin/fragments/control-sidebar :: control-sidebar-control-sidebar-dark"></aside>

        <div class="control-sidebar-bg"></div>
    </div>


    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script th:src="@{/js/admin/jquery.min.js}"></script>

    <script th:src="@{/js/admin/bootstrap.min.js}"></script>

    <script th:src="@{/js/admin/fastclick.js}"></script>

    <script th:src="@{/js/admin/adminlte.min.js}"></script>

    <script th:src="@{/js/admin/jquery.sparkline.min.js}"></script>

    <script th:src="@{/js/admin/jquery-jvectormap-1.2.2.min.js}"></script>
    <script th:src="@{/js/admin/jquery-jvectormap-world-mill-en.js}"></script>

    <script th:src="@{/js/admin/jquery.slimscroll.min.js}"></script>

    <script th:src="@{/js/admin/Chart.js}"></script>

    <script th:src="@{/js/admin/dashboard2.js}"></script>

    <script th:src="@{/js/admin/demo.js}"></script>
</body>

</html>