<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin/fragments/head :: head"> </head>

<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header th:replace="admin/fragments/main-header :: main-header"> </header>

        <aside th:replace="admin/fragments/main-sidebar :: main-sidebar"></aside>

        <div class="content-wrapper">

            <section class="content-header">
                <h1>
                    Dashboard
                    <small>Version 2.0</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </section>

            <section class="content">

                <div class="row">
                    <div class="col-md-8">
                        <div class="box box-success">
                            <!-- title -->
                            <div class="box-header with-border">
                                <h3 class="box-title">Quản lý bài viết khoa học</h3>
                            </div>
                            <!-- search bar -->
                            <div class="search-bar">
                                <p>Tìm kiếm theo: </p>
                                <div class="col-md-2 inline-element">
                                    <select class="form-control options">
                                        <option>Id bài viết</option>
                                        <option>Tiêu đề</option>
                                        <option>Nội dung</option>
                                        <option>Tên tác giả</option>
                                        <option>Trạng thái bài viết</option>
                                    </select>
                                </div>
                                <div class="col-md-3 col-sm-4 inline-element">
                                    <input type="text" class="form-control search-input" placeholder="Search...">
                                </div>
                                <div class="col-md-3 col-sm-4 inline-element">
                                    <button class="btn btn-default btn-search">Tìm kiếm</button>
                                </div>
                            </div>

                            <!-- table -->
                            <div class="box-body no-padding">
                                <div class="row">
                                    <div class="col-md-9 col-sm-8">
                                        <div class="table-editable">
                                            <table>
                                                <thead>
                                                    <tr>
                                                        <th class="id_article">ID Bài viết</th>
                                                        <th class="article_header">Tiêu đề</th>
                                                        <th class="article_content">Nội dung</th>
                                                        <th class="author_name">Tên tác giả</th>
                                                        <th class="created_at">Ngày tạo</th>
                                                        <th class="modified_at">Ngày cập nhật</th>
                                                        <th class="article_status">Trạng thái</th>
                                                        <th class="actions">Thao tác</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="tableBody">
                                                </tbody>
                                            </table>
                                            <div class="btn-end">
                                                <button class="btn btn-default">Save changes</button>
                                            </div>
                                            <div id="world-map-markers" style="height: 325px;"></div>
                                        </div>
                                    </div>
                                </div>

                                <div class="js-modal open">
                                    <div class="modal-content">
                                        <div class="heading">

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="box box-info">
                            <div class="box-header with-border">
                                <div class="box-tools pull-right">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i
                                            class="fa fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i
                                            class="fa fa-times"></i></button>
                                </div>
                            </div>

                            <div class="box-footer clearfix">
                            </div>

                        </div>

                    </div>

                    <!-- pop up modal -->

                    <!-- Button trigger modal -->
                    <!-- <button type="button" class="btn btn-primary" data-toggle="modal"
                        data-target="#exampleModalScrollable">
                        Launch demo modal
                    </button> -->

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
                        aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-scrollable" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalScrollableTitle">Modal title</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" id="exampleModalScrollableBody">
                                    ...
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="button" class="btn btn-primary">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </section>

        </div>

        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 2.4.13
            </div>
            <strong>Copyright &copy; 2014-2019 <a href="https://adminlte.io">AdminLTE</a>.</strong> All rights
            reserved.
        </footer>

        <aside th:replace="admin/fragments/control-sidebar :: control-sidebar-control-sidebar-dark"></aside>

        <div class="control-sidebar-bg"></div>
    </div>


    <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
    <script th:src="@{/js/admin/jquery.min.js}"></script>

    <script th:src="@{/js/admin/bootstrap.min.js}"></script>

    <script th:src="@{/js/admin/fastclick.js}"></script>

    <script th:src="@{/js/admin/adminlte.min.js}"></script>

    <script th:src="@{/js/admin/jquery.sparkline.min.js}"></script>

    <script th:src="@{/js/admin/jquery-jvectormap-1.2.2.min.js}"></script>
    <script th:src="@{/js/admin/jquery-jvectormap-world-mill-en.js}"></script>

    <script th:src="@{/js/admin/jquery.slimscroll.min.js}"></script>

    <script th:src="@{/js/admin/Chart.js}"></script>

    <script th:src="@{/js/admin/dashboard2.js}"></script>

    <script th:src="@{/js/admin/demo.js}"></script>

    <script th:src="@{/js/admin/articles-management.js}"> </script>
</body>

</html>