<aside th:fragment="main-sidebar" class="main-sidebar">

    <section class="sidebar">

        <div class="user-panel">
            <div class="pull-left image">
                <img th:src="@{/images/admin/user.png}" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p th:text="${user.fullname}"></p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>

        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>

        <!-- ------------------------------------------------------------------------- -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <!-- <li class="active treeview menu-open"> -->
            <li>
                <a th:href="@{/admin}">
                    <i class="fa fa-dashboard"></i> <span>Trang dashboard</span>
                    <small class="label pull-right bg-yellow">12</small>
                </a>
            </li>

            <li>
                <a th:href="@{/admin/accounts}">
                    <i class="fa fa-edit"></i> <span>Quản lý tài khoản</span>
                </a>
            </li>
            <!-- </li> -->
            <li>
                <!-- show articles here -->
                <a th:href="@{/admin/articles}">
                    <i class="fa fa-th"></i> <span>Quản lý bài viết KH</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                    </span>
                </a>
            </li>
            <li>
                <!-- show appointment here -->
                <a th:href="@{/admin/departments}">
                    <i class="fa fa-files-o"></i> <span>Quản lý các khoa</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green">4</small>
                    </span>
                </a>
            </li>
            <li>
                <!-- show appointment here -->
                <a th:href="@{/admin/doctors}">
                    <i class="fa fa-folder"></i> <span>Quản lý bác sĩ</span>
                </a>
            </li>
            <li>
                <!-- show appointment here -->
                <a th:href="@{/admin/schedules}">
                    <i class="fa fa-book"></i> <span>Danh sách lịch hẹn</span>
                    <small class="label pull-right bg-red">5</small>
                </a>
            </li>
            <!-- ------------------------------------------------------------------------- -->
            <li><a href="https://adminlte.io/docs"><i class="fa fa-book"></i> <span>Documentation</span></a>
            </li>
            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
        </ul>
    </section>

</aside>